<!--
  Generated template for the FinanceCalcResultPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  
    <ion-toolbar>
      <ion-buttons start>
        <button ion-button navPop >
          <ion-icon ios="ios-arrow-back" md="ios-arrow-back-outline"></ion-icon>
          <span class="nav-icon-text">{{"back" | translate}}</span>
        </button>
      </ion-buttons>
      
      <ion-buttons end>
        <button ion-button icon-only menuToggle >
          <ion-icon name="menu"></ion-icon>
        </button>
      </ion-buttons>
        
    </ion-toolbar>
    
</ion-header>


<ion-content padding class="result-content">

  <div class="result result-v1">
    <h2 class="sub-title">{{"eligible" | translate}}:</h2>
    <h1 class="title">
      <span class="cur">{{"sar" | translate}}</span> 
      <span class="value">{{result['maxFinanceAmount']}}</span></h1>

    <ion-grid class="break-down">
      <ion-row>
        <ion-col col-6>{{"monthlyPaymentResult" | translate}}:</ion-col>
        <ion-col col-6>{{result['emi']}} {{"sar" | translate}}</ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-6>{{"paymentTermResult" | translate}}:</ion-col>
        <ion-col col-6>{{result['repaymentTerm']}} {{"months" | translate}}</ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-6>{{"profitRateResult" | translate}}:</ion-col>
        <ion-col col-6>{{result['flatRate']}} %</ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-6>{{"equivalentIRR" | translate}}:</ion-col>
        <ion-col col-6>{{result['eapr']}} %</ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <div class="result-action-wr">
    <button ion-button full color="light" (click)="openSendResult()">
      <span class="icon-wr">
          <img src="./assets/imgs/result/email-blue.svg" />
      </span>
      {{"shareResult" | translate}}
    </button>
    <button ion-button full color="secondary" (click)="openBrowser('request/info/property')">
      <span class="icon-wr">
          <img src="./assets/imgs/result/apply.svg" />
      </span>
      {{"applyNow" | translate}}
    </button>
  </div>
</ion-content>
