page-expense-calc {
    ion-navbar{
        height:70px;
    }
    .toolbar-title {
        border: none;
        display: flex;
        align-items: center;
        .icon-cal-wr{
            display: inline-block;
            height:52px;
            svg{
                height: 100%;
                width: auto;
            }
        }
        .title{
            font-size: 20px;
            color:#868e95;
            font-weight: 400;
            white-space: normal;
            text-align: left;
            padding-left: 20px;
            font-weight: 700;
        }
    }
    .content-wr{
        background: #f2f2f2;
        .scroll-content{
            padding: 10px 20px 30px!important;
            ion-title{
                margin-top: 20px;
                margin:10px 3px 0;
                margin:10px 3px 15px;
            }
            .field-group{
                &.rent{
                    margin-bottom: 40px;
                }
                .title{
                    font-size: 18px;
                    color:#00A2E5;
                    margin-bottom: 10px;
                    margin-top: 35px;
                }
            }
            
        }
    }
}
