<!--
  Generated template for the ExpenseCalcPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header>

  <ion-toolbar>
    <ion-buttons start>
      <button ion-button navPop>
        <ion-icon ios="ios-arrow-back" md="ios-arrow-back-outline"></ion-icon>
        <span class="nav-icon-text">{{"back" | translate}}</span>
      </button>
    </ion-buttons>

    <ion-buttons end>
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>

  </ion-toolbar>

</ion-header>


<ion-content padding class="content-wr">

  <ion-title>
    <span class="icon-cal-wr">
      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="51" height="51" viewBox="0 0 51 51">
        <defs>
          <linearGradient id="a" x1="-90.97" y1="799.93" x2="-99.17" y2="807.58" gradientTransform="matrix(5.18, 0, 0, -5.18, 584.91, 4848.62)"
            gradientUnits="userSpaceOnUse">
            <stop offset="0" stop-color="#0b8bba" />
            <stop offset="1" stop-color="#c6386b" />
          </linearGradient>
          <linearGradient id="b" x1="-49.45" y1="798.05" x2="-70.69" y2="817.87" gradientTransform="matrix(2, 0, 0, -2, 218.57, 2294.76)"
            xlink:href="#a" />
          <linearGradient id="c" x1="-114.78" y1="801.17" x2="-115.61" y2="801.95" gradientTransform="matrix(51, 0, 0, -51, 5969, 41566.41)"
            xlink:href="#a" />
          <linearGradient id="d" x1="-43.09" y1="792.12" x2="-64.34" y2="811.94" gradientTransform="matrix(2, 0, 0, -2, 191.79, 2297.99)"
            xlink:href="#a" />
        </defs>
        <title>cal-05</title>
        <path d="M94.26,684.26a2.59,2.59,0,1,0,2.59,2.59A2.59,2.59,0,0,0,94.26,684.26Zm0,3.19a0.6,0.6,0,1,1,.6-0.6h0A0.6,0.6,0,0,1,94.26,687.45Z"
          transform="translate(-69 -651)" fill="url(#a)" />
        <path d="M102.26,681a1,1,0,0,0-.71-0.29,1.05,1.05,0,0,0-.71.29,1,1,0,0,0-.29.71,1.05,1.05,0,0,0,.29.71,1,1,0,0,0,.71.29,1.05,1.05,0,0,0,.71-0.29,1,1,0,0,0,.29-0.71A1,1,0,0,0,102.26,681Z"
          transform="translate(-69 -651)" fill="url(#b)" />
        <path d="M115,665.35h-1.08l-14-14.06a1,1,0,0,0-1.41,0l-3.6,3.6L80.49,651a1,1,0,0,0-1.21.7h0l-3.66,13.61H73.18A4.18,4.18,0,0,0,69,669.53h0V697a5,5,0,0,0,5,5h41a5,5,0,0,0,5-5v-26.7A5,5,0,0,0,115,665.35Zm-0.89,2H115a3,3,0,0,1,3,3v8a2.36,2.36,0,0,1-2.36,2.36h-1v-4a5,5,0,0,0-4.88-5ZM95.89,656.71h0l3.3-3.3,13,13L107,671.7h-1.82l2.38-2.38a1,1,0,0,0,0-1.39h0a2.07,2.07,0,0,1,0-2.93h0a1,1,0,0,0,0-1.39h0l-5.46-5.47a1,1,0,0,0-1.39,0h0a2.07,2.07,0,0,1-2.93,0h0a1,1,0,0,0-1.39,0h0L82.74,671.69H80.92ZM93,668a4.74,4.74,0,0,0-4.64,3.74H85.56l11.55-11.56a4.06,4.06,0,0,0,4.15,0l4.22,4.22a4.06,4.06,0,0,0,0,4.15l-3.18,3.18H97.58A4.71,4.71,0,0,0,93,668Zm2.57,3.74H90.39A2.76,2.76,0,0,1,95.53,671.69Zm-15.67-1.77,2.64-9.84a4,4,0,0,0,2.09-.55A3.9,3.9,0,0,0,86.1,658l4.48,1.21-6.5,6.5Zm1.07-16.7,12.32,3.3-1,1.06-6.43-1.72a1,1,0,0,0-1.22.7h0A2.08,2.08,0,0,1,82,658a1,1,0,0,0-1.21.7h0l-3.48,13H76Zm-7.75,14.12h1.9l-1.17,4.38H73.18A2.19,2.19,0,0,1,73.18,667.34ZM118,697a3,3,0,0,1-3,3h-1.4a5,5,0,0,0,1-3v-4h0.6a4.81,4.81,0,0,0,2.79-.9V697Zm0-8.78a2.8,2.8,0,0,1-2.79,2.79H94.3a4.19,4.19,0,0,1-.13-8.37h3.15a1,1,0,1,0,0-2h-3a6.18,6.18,0,1,0,0,12.36h18.33v4a3,3,0,0,1-2.94,3H75.77V688.8a1,1,0,0,0-2,0V700A3,3,0,0,1,71,697V673.09a4.15,4.15,0,0,0,2.19.62h36.46a3,3,0,0,1,3,3v4h-7.2a1,1,0,1,0,0,2h10.22A4.29,4.29,0,0,0,118,682v6.28Z"
          transform="translate(-69 -651)" fill="url(#c)" />
        <path d="M75.49,684.2a1,1,0,0,0-.71-0.29,1.05,1.05,0,0,0-.71.29,1,1,0,0,0-.29.71,1.05,1.05,0,0,0,.29.71,1,1,0,0,0,.71.29,1.05,1.05,0,0,0,.71-0.29,1,1,0,0,0,.29-0.71A1.12,1.12,0,0,0,75.49,684.2Z"
          transform="translate(-69 -651)" fill="url(#d)" />
      </svg>
    </span>
    <span class="title">
      {{"expenseCalc" | translate}}
    </span>
  </ion-title>

  <form [formGroup]="calcForm" (ngSubmit)="submitForm()">
    <ion-input type="hidden" formControlName="calcMode"></ion-input>
    <ion-input type="hidden" formControlName="salary" value="{{salary}}"></ion-input>
    <ion-input type="hidden" formControlName="rent" value="{{rent}}"></ion-input>
    <ion-input type="hidden" formControlName="maintenance" value="{{maintenance}}"></ion-input>
    <ion-input type="hidden" formControlName="food" value="{{food}}"></ion-input>
    <ion-input type="hidden" formControlName="communication" value="{{communication}}"></ion-input>
    <ion-input type="hidden" formControlName="utility" value="{{utility}}"></ion-input>
    <ion-input type="hidden" formControlName="healthcare" value="{{healthcare}}"></ion-input>
    <ion-input type="hidden" formControlName="childcare" value="{{childcare}}"></ion-input>
    <ion-input type="hidden" formControlName="carRental" value="{{carRental}}"></ion-input>
    <ion-input type="hidden" formControlName="other" value="{{other}}"></ion-input>
    <ion-input type="hidden" formControlName="tuition" value="{{tuition}}"></ion-input>
    <ion-input type="hidden" formControlName="restaurant" value="{{restaurant}}"></ion-input>
    <ion-input type="hidden" formControlName="travel" value="{{travel}}"></ion-input>
    <ion-input type="hidden" formControlName="apparel" value="{{apparel}}"></ion-input>
    <ion-input type="hidden" formControlName="otherLeisure" value="{{otherLeisure}}"></ion-input>
    <ion-input type="hidden" formControlName="creditCard" value="{{creditCard}}"></ion-input>
    <ion-input type="hidden" formControlName="otherBills" value="{{otherBills}}"></ion-input>
    <ion-input type="hidden" formControlName="personalLoan" value="{{personalLoan}}"></ion-input>
    <ion-input type="hidden" formControlName="totalExpense" value="{{totalExpense}}"></ion-input>

    <ion-list class="input-list">
      <ion-item class="list-item">
        <ion-label floating>{{"monthlyNet" | translate}}</ion-label>
        <ion-input type="tel" formControlName="salaryFormatted" (keyup)="currencyFormat($event, key='salaryFormatted')"
        value={{salaryFormatted}}></ion-input>
      </ion-item>
      <ion-item no-lines class="error" *ngIf="calcForm.controls.salaryFormatted.hasError('required') && calcForm.controls.salaryFormatted.touched ">
        <p>{{"fieldRequired" | translate}}</p>
      </ion-item>
    </ion-list>

    <div class="field-group rent">
      <h3 class="title">{{"monthlyHousehold" | translate}}</h3>
      <ion-list class="input-list">
        <ion-item class="list-item">
          <ion-label floating>{{"rentMortgage" | translate}}</ion-label>
          <ion-input type="tel" formControlName="rentFormatted" (keyup)="currencyFormat($event, key='rentFormatted')"
        value={{rentFormatted}}></ion-input>
        </ion-item>
        <ion-item class="list-item">
          <ion-label floating>{{"maintenance" | translate}}</ion-label>
          <ion-input type="tel" formControlName="maintenanceFormatted" (keyup)="currencyFormat($event, key='maintenanceFormatted')"
        value={{maintenanceFormatted}}></ion-input>
        </ion-item>
        <ion-item class="list-item">
          <ion-label floating>{{"food" | translate}}</ion-label>
          <ion-input type="tel" formControlName="foodFormatted" (keyup)="currencyFormat($event, key='foodFormatted')"
        value={{foodFormatted}}></ion-input>
        </ion-item>
        <ion-item class="list-item">
          <ion-label floating>{{"communication" | translate}}</ion-label>
          <ion-input type="tel" formControlName="communicationFormatted" (keyup)="currencyFormat($event, key='communicationFormatted')"
        value={{communicationFormatted}}></ion-input>
        </ion-item>
        <ion-item class="list-item">
          <ion-label floating>{{"utility" | translate}}</ion-label>
          <ion-input type="tel" formControlName="utilityFormatted" (keyup)="currencyFormat($event, key='utilityFormatted')"
        value={{utilityFormatted}}></ion-input>
        </ion-item>
        <ion-item class="list-item">
          <ion-label floating>{{"healthcare" | translate}}</ion-label>
          <ion-input type="tel" formControlName="healthcareFormatted" (keyup)="currencyFormat($event, key='healthcareFormatted')"
        value={{healthcareFormatted}}></ion-input>
        </ion-item>
        <ion-item class="list-item">
          <ion-label floating>{{"childcare" | translate}}</ion-label>
          <ion-input type="tel" formControlName="childcareFormatted" (keyup)="currencyFormat($event, key='childcareFormatted')"
        value={{childcareFormatted}}></ion-input>
        </ion-item>
      </ion-list>
    </div>

    <div class="field-group rent">
      <h3 class="title">{{"transpoExp" | translate}}</h3>
      <ion-list class="input-list">
        <ion-item class="list-item">
          <ion-label floating>{{"carInstallment" | translate}}</ion-label>
          <ion-input type="tel" formControlName="carRentalFormatted" (keyup)="currencyFormat($event, key='carRentalFormatted')"
        value={{carRentalFormatted}}></ion-input>
        </ion-item>

        <ion-item class="list-item">
          <ion-label floating>{{"otherExp" | translate}}</ion-label>
          <ion-input type="tel" formControlName="otherFormatted" (keyup)="currencyFormat($event, key='otherFormatted')"
        value={{otherFormatted}}></ion-input>
        </ion-item>
      </ion-list>
    </div>

    <div class="field-group rent">
      <h3 class="title">{{"monthlyEdu" | translate}}</h3>
      <ion-list class="input-list">
        <ion-item class="list-item">
          <ion-label floating>{{"schoolTuition" | translate}}</ion-label>
          <ion-input type="tel" formControlName="tuitionFormatted" (keyup)="currencyFormat($event, key='tuitionFormatted')"
        value={{tuitionFormatted}}></ion-input>
        </ion-item>
      </ion-list>
    </div>

    <div class="field-group rent">
      <h3 class="title">{{"monthlyLeisure" | translate}}</h3>
      <ion-list class="input-list">
        <ion-item class="list-item">
          <ion-label floating>{{"restaurants" | translate}}</ion-label>
          <ion-input type="tel" formControlName="restaurantFormatted" (keyup)="currencyFormat($event, key='restaurantFormatted')"
          value={{restaurantFormatted}}></ion-input>
        </ion-item>
        <ion-item class="list-item">
          <ion-label floating>{{"travel" | translate}}</ion-label>
          <ion-input type="tel" formControlName="travelFormatted" (keyup)="currencyFormat($event, key='travelFormatted')"
          value={{travelFormatted}}></ion-input>
        </ion-item>
        <ion-item class="list-item">
          <ion-label floating>{{"apparel" | translate}}</ion-label>
          <ion-input type="tel" formControlName="apparelFormatted" (keyup)="currencyFormat($event, key='apparelFormatted')"
          value={{apparelFormatted}}></ion-input>
        </ion-item>
        <ion-item class="list-item">
          <ion-label floating>{{"otherExp" | translate}}</ion-label>
          <ion-input type="tel" formControlName="otherLeisureFormatted" (keyup)="currencyFormat($event, key='otherLeisureFormatted')"
          value={{otherLeisureFormatted}}></ion-input>
        </ion-item>
      </ion-list>
    </div>

    <div class="field-group rent">
      <h3 class="title">{{"monthlyBills" | translate}}</h3>
      <ion-list class="input-list">
        <ion-item class="list-item">
          <ion-label floating>{{"creditCard" | translate}}</ion-label>
          <ion-input type="tel" formControlName="creditCardFormatted" (keyup)="currencyFormat($event, key='creditCardFormatted')"
          value={{creditCardFormatted}}></ion-input>
        </ion-item>
        <ion-item class="list-item">
          <ion-label floating>{{"otherExp" | translate}}</ion-label>
          <ion-input type="tel" formControlName="otherBillsFormatted" (keyup)="currencyFormat($event, key='otherBillsFormatted')"
          value={{otherBillsFormatted}}></ion-input>
        </ion-item>
        <ion-item class="list-item">
          <ion-label floating>{{"personalLoan" | translate}}</ion-label>
          <ion-input type="tel" formControlName="personalLoanFormatted" (keyup)="currencyFormat($event, key='personalLoanFormatted')"
          value={{personalLoanFormatted}}></ion-input>
        </ion-item>
      </ion-list>
    </div>

    <button id="btnsubmit" ion-button type="submit" block  [disabled]="!calcForm.valid" class="btn-submit">{{"calculate" | translate}}</button>

  </form>

</ion-content>
