<!--
  Generated template for the RedfCalcPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header>
  
  <ion-toolbar>
    <ion-buttons start>
      <button ion-button navPop >
        <ion-icon ios="ios-arrow-back" md="ios-arrow-back-outline"></ion-icon>
        <span class="nav-icon-text">{{"back" | translate}}</span>
      </button>
    </ion-buttons>
    
    <ion-buttons end>
      <button ion-button icon-only menuToggle >
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
      
  </ion-toolbar>
  
</ion-header>


<ion-content padding class="content-wr">
    
        <ion-title>
          <span class="icon-cal-wr">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="50.99" height="51" viewBox="0 0 50.99 51"><defs><linearGradient id="a" x1="-114.88" y1="801.21" x2="-115.51" y2="802" gradientTransform="matrix(50.99, 0, 0, -51, 6155.33, 41142.02)" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#0b8bba"/><stop offset="1" stop-color="#c6386b"/></linearGradient><linearGradient id="b" x1="-42.74" y1="787.48" x2="-58.92" y2="807.52" gradientTransform="matrix(1.99, 0, 0, -2, 386.31, 1855.69)" xlink:href="#a"/><linearGradient id="c" x1="-101.71" y1="800.6" x2="-105.44" y2="803.51" gradientTransform="matrix(8.61, 0, 0, -13.73, 1176.15, 11272.18)" xlink:href="#a"/><linearGradient id="d" x1="-98" y1="800.36" x2="-102.74" y2="806.27" gradientTransform="matrix(6.78, 0, 0, -6.78, 965.53, 5707.34)" xlink:href="#a"/><linearGradient id="e" x1="-96.8" y1="798.86" x2="-101.54" y2="804.77" gradientTransform="matrix(6.78, 0, 0, -6.78, 956.77, 5697.69)" xlink:href="#a"/><linearGradient id="f" x1="-50.36" y1="796.35" x2="-66.44" y2="816.39" gradientTransform="matrix(2, 0, 0, -2, 379.44, 1891.64)" xlink:href="#a"/></defs><title>cal-02</title><path d="M301.53,257.89a1,1,0,0,0,1.3-.09l4.87-4.88a1,1,0,0,0,0-1.41l-0.1-.09-5-3.7v-10a1,1,0,0,0-1-1h-6.36a1,1,0,0,0-1,1v3.72l-11.15-8.3a1,1,0,0,0-1.19,0l-8.73,6.48a1,1,0,0,0,.93,1.77l0.1-.06,0.15-.11,8.13-6,23,17.09L302,255.78,283.1,241.69a1,1,0,0,0-1.18,0l-19,14.08-3.45-3.46,8.93-6.64a1,1,0,0,0,.08-1.41,1,1,0,0,0-1.26-.19l-9.87,7.34a1,1,0,0,0-.2,1.4l0.09,0.1,4.87,4.88a1,1,0,0,0,1.3.1l0.71-.53v7.89H259a2,2,0,0,0-2,2h0V282a2,2,0,0,0,2,2h6.77a2,2,0,0,0,2-1.7l4.63,1.63a1,1,0,0,0,.33.06H286.9a7,7,0,0,0,4.5-1.64l10.78-9.11a4,4,0,0,0-1.36-6.92v-8.93Zm-0.91-11.67L296.24,243v-4.2h4.38v7.46ZM265.77,282H259V267.25h2.39v7.37a1,1,0,0,0,2,0v-7.37h2.39v0.8h0V282Zm35.3-13.26a2,2,0,0,1,.55,1.51,2,2,0,0,1-.72,1.44l-10.77,9.12a5,5,0,0,1-3.22,1.17h-14l-5.11-1.79V269h7.31a5,5,0,0,1,2.76.84l6.66,4.44a1.27,1.27,0,0,1,.56.86,1.3,1.3,0,0,1-1,1.51h0a1.26,1.26,0,0,1-.79-0.11l-5.7-2.72a1,1,0,0,0-.86,1.8l5.7,2.72a3.29,3.29,0,0,0,3.23-5.71l-6.66-4.44a7,7,0,0,0-3.86-1.17h-7.32a2,2,0,0,0-1.58-1.75v-9.42l16.34-12.15,16.33,12.15v10.29h0a4,4,0,0,0-1.85.88l-7.93,6.66a1,1,0,0,0,1,1.72l0.14-.1,0.12-.1,7.93-6.66A2,2,0,0,1,301.07,268.73Z" transform="translate(-257 -233)" fill="url(#a)"/><path d="M271.6,241.9a1,1,0,0,0-.71-0.29,1.05,1.05,0,0,0-.71.29,1,1,0,0,0-.28.71,1.05,1.05,0,0,0,.29.71,1,1,0,0,0,.71.29,1.05,1.05,0,0,0,.71-0.29A1,1,0,0,0,271.6,241.9Z" transform="translate(-257 -233)" fill="url(#b)"/><path d="M286.3,252.23a1,1,0,0,0-1.35.37h0l-6.62,11.74a1,1,0,0,0,.37,1.35h0a1,1,0,0,0,.49.13,1,1,0,0,0,.87-0.51l6.62-11.73A1,1,0,0,0,286.3,252.23Z" transform="translate(-257 -233)" fill="url(#c)"/><path d="M286.88,259.77a3.39,3.39,0,1,0,3.39,3.39h0A3.41,3.41,0,0,0,286.88,259.77Zm0,4.78a1.39,1.39,0,1,1,1.39-1.39h0a1.39,1.39,0,0,1-1.38,1.39h0Z" transform="translate(-257 -233)" fill="url(#d)"/><path d="M278.12,250.12a3.39,3.39,0,1,0,3.39,3.39h0A3.4,3.4,0,0,0,278.12,250.12Zm0,4.78a1.39,1.39,0,1,1,1.39-1.39h0a1.39,1.39,0,0,1-1.38,1.39h0Z" transform="translate(-257 -233)" fill="url(#e)"/><path d="M263.14,277.85a1,1,0,0,0-.71-0.29,1.05,1.05,0,0,0-.71.29,1,1,0,0,0-.29.71,1.05,1.05,0,0,0,.29.71,1,1,0,0,0,.71.29,1.05,1.05,0,0,0,.71-0.29,1,1,0,0,0,.29-0.71A1.08,1.08,0,0,0,263.14,277.85Z" transform="translate(-257 -233)" fill="url(#f)"/></svg>
          </span>
          <span class="title">
            {{"redfCalc" | translate}}
          </span>
        </ion-title>

        <form [formGroup]="calcForm" (ngSubmit)="submitForm()">
          <ion-input type="hidden" formControlName="calcMode"></ion-input>
          <ion-input type="hidden" formControlName="propertyPrice" value="{{propertyPrice}}"></ion-input>
          <ion-input type="hidden" formControlName="downPayment" value="{{downPayment}}"></ion-input>
          <ion-input type="hidden" formControlName="otherAllowance" value="{{otherAllowance}}"></ion-input>
          <ion-input type="hidden" formControlName="housingAllowance" value="{{housingAllowance}}"></ion-input>
          <ion-input type="hidden" formControlName="salary" value="{{salary}}"></ion-input>
          <ion-input type="hidden" formControlName="obligation" value="{{obligation}}"></ion-input>
          <ion-input type="hidden" formControlName="retirement" value="{{retirement}}"></ion-input>

          <ion-list class="input-list">
              <ion-item class="list-item">
                <ion-label  floating>{{"propertyPrice" | translate}}*</ion-label>
                <ion-input type="tel"  formControlName="propertyPriceFormatted" (keyup)="currencyFormat($event, key='propertyPriceFormatted')" value={{propertyPriceFormatted}} ></ion-input>
              </ion-item>
               <!-- Property Price Validation -->
              <ion-item  no-lines class="error"  *ngIf="calcForm.controls.propertyPriceFormatted.hasError('required') && calcForm.controls.propertyPriceFormatted.touched ">
                 <p>{{"fieldRequired" | translate}}</p>
              </ion-item>
              
              <ion-item class="list-item">
                <ion-label floating>{{"repaymentTerm" | translate}}*</ion-label>
                <ion-input type="number" pattern="[0-9]*" formControlName="repayment_terms"></ion-input>
              </ion-item>
              <!-- Repayment Term Validation -->
              <ion-item no-lines class="error" *ngIf="calcForm.controls.repayment_terms.hasError('required') && calcForm.controls.repayment_terms.touched">
                 <p>{{"fieldRequired" | translate}}</p>
              </ion-item>
              <ion-item no-lines class="error" *ngIf="(calcForm.controls.repayment_terms.hasError('min') || calcForm.controls.repayment_terms.hasError('max')) && calcForm.controls.repayment_terms.touched">
                <p>{{"repaymentValidationMessage" | translate}}</p>
              </ion-item>

              <ion-item class="list-item">
                <ion-label floating>{{"basicSalary" | translate}}*</ion-label>
                <ion-input type="tel" formControlName="salaryFormatted" (keyup)="currencyFormat($event, key='salaryFormatted')"
                  value={{salaryFormatted}}></ion-input>
              </ion-item>
              <!-- Salary Validation -->
              <ion-item no-lines class="error" *ngIf="calcForm.controls.salaryFormatted.hasError('required') && calcForm.controls.salaryFormatted.touched ">
                 <p>{{"fieldRequired" | translate}}</p>
              </ion-item>
              <ion-item no-lines class="error" *ngIf="calcForm.controls.salary.hasError('min') && calcForm.controls.salaryFormatted.touched && !calcForm.controls.salaryFormatted.hasError('required')">
                <p>{{"minSalaryValidationMessage" | translate}}</p>
              </ion-item>

              <ion-item class="list-item">
                <ion-label floating>{{"retirement" | translate}}*</ion-label>
                <ion-input type="tel" formControlName="retirementFormatted" (keyup)="currencyFormat($event, key='retirementFormatted')"
                  value={{retirementFormatted}}></ion-input>
              </ion-item>
              <!-- Retirement Validation -->
              <ion-item no-lines class="error" *ngIf="calcForm.controls.retirementFormatted.hasError('required') && calcForm.controls.retirementFormatted.touched ">
                 <p>{{"fieldRequired" | translate}}</p>
              </ion-item>

              <ion-item class="list-item">
                <ion-label floating>{{"obligation" | translate}}*</ion-label>
                <ion-input type="tel" formControlName="obligationFormatted" (keyup)="currencyFormat($event, key='obligationFormatted')"
                  value={{obligationFormatted}}></ion-input>
              </ion-item>
              <!-- Obligations Validation -->
              <ion-item no-lines class="error" *ngIf="calcForm.controls.obligationFormatted.hasError('required') && calcForm.controls.obligationFormatted.touched">
                 <p>{{"fieldRequired" | translate}}</p>
              </ion-item>
              <ion-item no-lines class="error" *ngIf="(calcForm.controls.obligation.value != '') && (((calcForm.controls.obligation.value * 100) / calcForm.controls.salary.value) >= 60)">
                <p>{{"spendingValidationMessage" | translate}}</p>
              </ion-item>

              <ion-item class="list-item">
                <ion-label floating>{{"numOfDependents" | translate}}*</ion-label>
                <ion-input type="number" pattern="[0-9]*" formControlName="dependents"></ion-input>
              </ion-item>
               <!-- Dependents Validation -->
              <ion-item no-lines class="error" *ngIf="calcForm.controls.dependents.hasError('required') && calcForm.controls.dependents.touched">
                 <p>{{"fieldRequired" | translate}}</p>
              </ion-item>

              <ion-item class="list-item">
                <ion-label floating>{{"interestType" | translate}}*</ion-label>
                <ion-select interface="action-sheet" formControlName="interesttype">
                  <ion-option value="floating" selected>{{"floating" | translate}}</ion-option>
                  <ion-option value="fixed">{{"fixed" | translate}}</ion-option>
                </ion-select>
              </ion-item>
              <!-- Interest Type Validation -->
              <ion-item no-lines class="error" *ngIf="calcForm.controls.interesttype.hasError('required') && calcForm.controls.interesttype.touched">
                <p>{{"fieldRequired" | translate}}</p>
              </ion-item>

              <ion-item class="list-item">
                <ion-label floating>{{"downPayment" | translate}}*</ion-label>
                <ion-input type="tel" formControlName="downPaymentFormatted" (keyup)="currencyFormat($event, key='downPaymentFormatted')" value={{downPaymentFormatted}} ></ion-input>
              </ion-item>
              <!-- Down Payment Validation -->
              <ion-item no-lines class="error" *ngIf="calcForm.controls.downPaymentFormatted.hasError('required') && calcForm.controls.downPaymentFormatted.touched">
                <p>{{"fieldRequired" | translate}}</p>
              </ion-item>
              <ion-item no-lines class="error"  *ngIf="(calcForm.controls.downPaymentFormatted.value != '') && (calcForm.controls.downPaymentFormatted.touched && ((calcForm.controls.downPayment.value < (calcForm.controls.propertyPrice.value / 15)) ))">
                <p>{{"downPaymentLessValidationMessage" | translate}}</p>
              </ion-item>
              <ion-item no-lines class="error"  *ngIf="this.dpIsHigher">
                <p>{{"downPaymentValidationMessage" | translate}}</p>
              </ion-item>

              <ion-item class="list-item">
                <ion-label floating>{{"age" | translate}}*</ion-label>
                <ion-input type="number" pattern="[0-9]*" formControlName="age"></ion-input>
              </ion-item>
               <!-- Age Validation -->
              <ion-item no-lines class="error" *ngIf="calcForm.controls.age.hasError('required') && calcForm.controls.age.touched">
                <p>{{"fieldRequired" | translate}}</p>
              </ion-item>
              <ion-item no-lines class="error" *ngIf="(calcForm.controls.age.hasError('min') || calcForm.controls.age.hasError('max')) && calcForm.controls.age.touched">
                <p>{{"ageValidationMessage" | translate}}</p>
              </ion-item>
    
              <ion-item class="list-item">
                <ion-label  floating>{{"housingAllowance" | translate}}*</ion-label>
                <ion-input type="tel"  formControlName="housingAllowanceFormatted" (keyup)="currencyFormat($event, key='housingAllowanceFormatted')" value={{housingAllowanceFormatted}} ></ion-input>
              </ion-item>
               <!-- Housing Allowance Validation -->
              <ion-item  no-lines class="error"  *ngIf="calcForm.controls.housingAllowanceFormatted.hasError('required') && calcForm.controls.housingAllowanceFormatted.touched ">
                 <p>{{"fieldRequired" | translate}}</p>
              </ion-item>

              <ion-item class="list-item">
                <ion-label  floating>{{"otherAllowance" | translate}}*</ion-label>
                <ion-input type="tel"  formControlName="otherAllowanceFormatted" (keyup)="currencyFormat($event, key='otherAllowanceFormatted')" value={{otherAllowanceFormatted}} ></ion-input>
              </ion-item>
               <!-- Other Allowance  Validation -->
              <ion-item  no-lines class="error"  *ngIf="calcForm.controls.otherAllowanceFormatted.hasError('required') && calcForm.controls.otherAllowanceFormatted.touched ">
                 <p>{{"fieldRequired" | translate}}</p>
              </ion-item>
                
              <ion-item class="list-item">
                <ion-label floating>{{"sector" | translate}}*</ion-label>
                <ion-select interface="action-sheet" formControlName="sector">
                    <ion-option *ngFor="let s of sectors" value="{{s.id}}">{{s.value}}</ion-option>
                  </ion-select>
              </ion-item>
              <!-- Sector Validation -->
              <ion-item no-lines class="error" *ngIf="calcForm.controls.sector.hasError('required') && calcForm.controls.sector.touched">
                 <p>{{"fieldRequired" | translate}}</p>
              </ion-item>
    
              <ion-item class="list-item">
                <ion-label floating>{{"nationalId" | translate}}*</ion-label>
                <ion-input type="text" formControlName="nationalId"></ion-input>
              </ion-item>
               <!-- National ID Validation -->
              <ion-item no-lines class="error" *ngIf="calcForm.controls.nationalId.hasError('required') && calcForm.controls.nationalId.touched">
                 <p>{{"fieldRequired" | translate}}</p>
              </ion-item>
              <ion-item no-lines class="error" *ngIf="calcForm.controls.nationalId.hasError('minlength') && calcForm.controls.nationalId.touched">
                <p>{{"nationalIdValidation" | translate}}</p>
              </ion-item>
     
          </ion-list>  
          
          <button id="btnsubmit" ion-button type="submit" block [disabled]="!calcForm.valid" class="btn-submit">{{"calculate" | translate}}</button>

        </form>
  
         
</ion-content>


