<!--
  Generated template for the FinanceCalcResultPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  
    <ion-toolbar>
      <ion-buttons start>
        <button ion-button navPop >
          <ion-icon ios="ios-arrow-back" md="ios-arrow-back-outline"></ion-icon>
          <span class="nav-icon-text">{{"back" | translate}}</span>
        </button>
      </ion-buttons>
      
      <ion-buttons end>
        <button ion-button icon-only menuToggle >
          <ion-icon name="menu"></ion-icon>
        </button>
      </ion-buttons>
        
    </ion-toolbar>
    
</ion-header>


<ion-content padding class="result-content">

  <div class="result result-v2">
    <h2 class="sub-title">{{"comparison" | translate}}:</h2>

    <ion-grid class="break-down">
      <ion-row class="heading">
        <ion-col col-5></ion-col>
        <ion-col >{{"buy" | translate}}</ion-col>
        <ion-col >{{"rent" | translate}}</ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-5>{{"downPaymentResult" | translate}}</ion-col>
        <ion-col >{{result['buyInitial']}}</ion-col>
        <ion-col >{{result['rentInitial']}}</ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-5>{{"monthlyPaymentResult" | translate}}</ion-col>
        <ion-col >{{result['buyEmi']}}</ion-col>
        <ion-col >{{result['rentEmi']}}</ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-5>{{"annualCost" | translate}}</ion-col>
        <ion-col >{{result['buyPaid']}}</ion-col>
        <ion-col >{{result['rentPaid']}}</ion-col>
      </ion-row>
      <ion-row class="total">
        <ion-col col-5>{{"totalCost" | translate}}</ion-col>
        <ion-col >{{result['buyCost']}}</ion-col>
        <ion-col >{{result['rentCost']}}</ion-col>
      </ion-row>
    </ion-grid>
    <p class="desc">{{"buyingIscheaper" | translate}}</p>
  </div>

  <div class="result-action-wr">
   
    <button ion-button full color="secondary" (click)="openBrowser('request/info/property')">
      <span class="icon-wr">
          <img src="./assets/imgs/result/apply.svg" />
      </span>
      {{"applyNow" | translate}}
    </button>
  </div>
</ion-content>
