<!--
  Generated template for the InstallmentCalcPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header>
  
    <ion-toolbar>
      <ion-buttons start>
        <button ion-button navPop >
          <ion-icon ios="ios-arrow-back" md="ios-arrow-back-outline"></ion-icon>
          <span class="nav-icon-text">{{"back" | translate}}</span>
        </button>
      </ion-buttons>
      
      <ion-buttons end>
        <button ion-button icon-only menuToggle >
          <ion-icon name="menu"></ion-icon>
        </button>
      </ion-buttons>
        
    </ion-toolbar>
    
  </ion-header>
  
  
  <ion-content padding class="content-wr">
      
          <ion-title>
            <span class="icon-cal-wr">
              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="50.99" height="51" viewBox="0 0 50.99 51"><defs><linearGradient id="a" x1="-46.07" y1="794.89" x2="-70.84" y2="818.01" gradientTransform="matrix(2, 0, 0, -2, 202.24, 2104.93)" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#0b8bba"/><stop offset="1" stop-color="#c6386b"/></linearGradient><linearGradient id="b" x1="-114.66" y1="801.19" x2="-115.63" y2="802.1" gradientTransform="matrix(50.99, 0, 0, -51, 5967.83, 41366.53)" xlink:href="#a"/><linearGradient id="c" x1="-47.29" y1="796.21" x2="-72.13" y2="819.32" gradientTransform="matrix(2, 0, 0, -2, 231.35, 2078.73)" xlink:href="#a"/><linearGradient id="d" x1="-104.06" y1="800.77" x2="-108.74" y2="803.43" gradientTransform="matrix(10.6, 0, 0, -17.4, 1223.22, 14435.85)" xlink:href="#a"/><linearGradient id="e" x1="-98.25" y1="800.41" x2="-105.21" y2="806.9" gradientTransform="matrix(7.12, 0, 0, -7.12, 819.92, 6202.96)" xlink:href="#a"/><linearGradient id="f" x1="-96.76" y1="799.02" x2="-103.72" y2="805.51" gradientTransform="matrix(7.12, 0, 0, -7.12, 809.64, 6192.68)" xlink:href="#a"/></defs><title>cal-03</title><path d="M85.94,491.14a1,1,0,0,0-.71-0.29,1.05,1.05,0,0,0-.71.29,1,1,0,0,0-.29.71,1.05,1.05,0,0,0,.29.71,1,1,0,0,0,.71.29,1.05,1.05,0,0,0,.71-0.29A1,1,0,0,0,85.94,491.14Z" transform="translate(-69 -452)" fill="url(#a)"/><path d="M119,456.38h-7.13a5.38,5.38,0,0,0-10.57,0H90a5.38,5.38,0,0,0-10.57,0H73.36a1,1,0,0,0-1,1v38.26H70a1,1,0,0,0-1,1A6.38,6.38,0,0,0,75.36,503h38.27a6.37,6.37,0,0,0,6.36-6.37V457.38a1,1,0,0,0-1-1h0ZM75.36,501a4.36,4.36,0,0,1-4.25-3.38h36.24A6.4,6.4,0,0,0,109,501H75.36ZM118,496.64a4.37,4.37,0,0,1-8.74,0,1,1,0,0,0-1-1H74.36v-2.8h6.9a1,1,0,0,0,.18-2H74.36v-24.2h35.91a1,1,0,1,0,0-2H74.36v-6.26h5.06a5.38,5.38,0,0,0,5.29,4.38,1,1,0,0,0,.18-2H84.71A3.39,3.39,0,1,1,88,456.37H84.71a1,1,0,0,0,0,2H101.3a5.38,5.38,0,0,0,5.29,4.38,1,1,0,0,0,0-2,3.38,3.38,0,1,1,3.24-4.38h-3.24a1,1,0,1,0,0,2H118v38.27Z" transform="translate(-69 -452)" fill="url(#b)"/><path d="M115.65,464.94a1,1,0,0,0-.71-0.29,1.05,1.05,0,0,0-.71.29,1,1,0,0,0-.29.71,1.05,1.05,0,0,0,.29.71,1,1,0,0,0,.71.29,1.05,1.05,0,0,0,.71-0.29A1,1,0,0,0,115.65,464.94Z" transform="translate(-69 -452)" fill="url(#c)"/><path d="M101,472.56a1,1,0,0,0-1.35.37h0L91,488.35a1,1,0,0,0,.37,1.35h0a1,1,0,0,0,.49.13,1,1,0,0,0,.87-0.51l8.59-15.4a1,1,0,0,0-.38-1.35h0Z" transform="translate(-69 -452)" fill="url(#d)"/><path d="M101.32,482.72a3.56,3.56,0,1,0,3.56,3.56A3.56,3.56,0,0,0,101.32,482.72Zm0,5.12a1.56,1.56,0,1,1,1.56-1.56h0a1.55,1.55,0,0,1-1.54,1.56h0Z" transform="translate(-69 -452)" fill="url(#e)"/><path d="M91,472.44A3.56,3.56,0,1,0,94.6,476,3.56,3.56,0,0,0,91,472.44h0Zm0,5.12A1.56,1.56,0,1,1,92.6,476h0a1.55,1.55,0,0,1-1.54,1.56h0Z" transform="translate(-69 -452)" fill="url(#f)"/></svg>
            </span>
            <span class="title">
              {{"installmentCalc" | translate}}
            </span>
          </ion-title>
  
          <form [formGroup]="calcForm" (ngSubmit)="submitForm()">
            <ion-input type="hidden" formControlName="calcMode"></ion-input>
            <ion-input type="hidden" formControlName="propertyPrice" value="{{propertyPrice}}"></ion-input>
            <ion-input type="hidden" formControlName="downPayment" value="{{downPayment}}"></ion-input>
  
            <ion-list class="input-list">
                <ion-item class="list-item">
                  <ion-label  floating>{{"propertyPrice" | translate}}*</ion-label>
                  <ion-input type="tel"  formControlName="propertyPriceFormatted" (keyup)="currencyFormat($event, key='propertyPriceFormatted')" value={{propertyPriceFormatted}} ></ion-input>
                </ion-item>
                 <!-- Property Price Validation -->
                <ion-item  no-lines class="error"  *ngIf="calcForm.controls.propertyPriceFormatted.hasError('required') && calcForm.controls.propertyPriceFormatted.touched ">
                  <p>{{"fieldRequired" | translate}}</p>
                </ion-item>
                
              
                <ion-item class="list-item">
                  <ion-label floating>{{"age" | translate}}*</ion-label>
                  <ion-input type="number" pattern="[0-9]*" formControlName="age"></ion-input>
                </ion-item>
                 <!-- Age Validation -->
                <ion-item no-lines class="error" *ngIf="calcForm.controls.age.hasError('required') && calcForm.controls.age.touched">
                  <p>{{"fieldRequired" | translate}}</p>
                </ion-item>
                <ion-item no-lines class="error" *ngIf="(calcForm.controls.age.hasError('min') || calcForm.controls.age.hasError('max')) && calcForm.controls.age.touched">
                  <p>{{"ageValidationMessage" | translate}}</p>
                </ion-item>
      
                <ion-item class="list-item">
                  <ion-label floating>{{"firsttimehome" | translate}}*</ion-label>
                  <ion-select interface="action-sheet" formControlName="firsthomebuyer">
                      <ion-option value="yes">{{"yes" | translate}}</ion-option>
                      <ion-option value="no">{{"no" | translate}}</ion-option>
                  </ion-select>        
                </ion-item>
                <!-- Firsthomebuyer Validation -->
                <ion-item no-lines class="error" *ngIf="calcForm.controls.firsthomebuyer.hasError('required') && calcForm.controls.firsthomebuyer.touched">
                  <p>{{"fieldRequired" | translate}}</p>
                </ion-item>
      
                <ion-item class="list-item">
                  <ion-label floating>{{"repaymentTerm" | translate}}*</ion-label>
                  <ion-input type="number" pattern="[0-9]*" formControlName="repayment_terms"></ion-input>
                </ion-item>
                <!-- Repayment Term Validation -->
                <ion-item no-lines class="error" *ngIf="calcForm.controls.repayment_terms.hasError('required') && calcForm.controls.repayment_terms.touched">
                  <p>{{"fieldRequired" | translate}}</p>
                </ion-item>
                <ion-item no-lines class="error" *ngIf="(calcForm.controls.repayment_terms.hasError('min') || calcForm.controls.repayment_terms.hasError('max')) && calcForm.controls.repayment_terms.touched">
                  <p>{{"repaymentValidationMessage" | translate}}</p>
                </ion-item>
      
                <ion-item class="list-item">
                  <ion-label floating>{{"interestType" | translate}}*</ion-label>
                  <ion-select interface="action-sheet" formControlName="interesttype">
                    <ion-option value="floating" selected>{{"floating" | translate}}</ion-option>
                    <ion-option value="fixed">{{"fixed" | translate}}</ion-option>
                  </ion-select>
                </ion-item>
                <!-- Interest Type Validation -->
                <ion-item no-lines class="error" *ngIf="calcForm.controls.interesttype.hasError('required') && calcForm.controls.interesttype.touched">
                  <p>{{"fieldRequired" | translate}}</p>
                </ion-item>
      
                <ion-item class="list-item">
                  <ion-label floating>{{"downPayment" | translate}}*</ion-label>
                  <ion-input type="tel" formControlName="downPaymentFormatted" (keyup)="currencyFormat($event, key='downPaymentFormatted')" value={{downPaymentFormatted}} ></ion-input>
                </ion-item>
                <!-- Down Payment Validation -->
                <ion-item no-lines class="error" *ngIf="calcForm.controls.downPaymentFormatted.hasError('required') && calcForm.controls.downPaymentFormatted.touched">
                  <p>{{"fieldRequired" | translate}}</p>
                </ion-item>
                <ion-item no-lines class="error"  *ngIf="(calcForm.controls.downPaymentFormatted.value != '') && (calcForm.controls.downPaymentFormatted.touched && ((calcForm.controls.downPayment.value < (calcForm.controls.propertyPrice.value / 15)) ))">
                  <p>{{"downPaymentLessValidationMessage" | translate}}</p>
                </ion-item>
                <ion-item no-lines class="error"  *ngIf="this.dpIsHigher">
                  <p>{{"downPaymentValidationMessage" | translate}}</p>
                </ion-item>
      
                <ion-item class="list-item">
                  <ion-label floating>{{"region" | translate}}*</ion-label>
                  <ion-select interface="action-sheet" formControlName="location" >
                    <ion-option *ngFor="let r of regions" value="0.{{r.id}}">{{r.value}}</ion-option>
                  </ion-select>
                </ion-item>
                <!-- Region Validation -->
                <ion-item no-lines class="error" *ngIf="calcForm.controls.location.hasError('required') && calcForm.controls.location.touched">
                  <p>{{"fieldRequired" | translate}}</p>
                </ion-item>
                
                <ion-item class="list-item">
                  <ion-label floating>{{"sector" | translate}}*</ion-label>
                  <ion-select interface="action-sheet" formControlName="sector">
                      <ion-option *ngFor="let s of sectors" value="{{s.id}}">{{s.value}}</ion-option>
                    </ion-select>
                </ion-item>
                <!-- Sector Validation -->
                <ion-item no-lines class="error" *ngIf="calcForm.controls.sector.hasError('required') && calcForm.controls.sector.touched">
                  <p>{{"fieldRequired" | translate}}</p>
                </ion-item>
      
                <ion-item class="list-item">
                  <ion-label floating>{{"company" | translate}}</ion-label>
                  <ion-input type="text" formControlName="company" (keyup)="autoCompleteCompany($event)" value={{company}}></ion-input>
                </ion-item>
  
                <ion-item class="list-item list-search" *ngIf="companies.length > 0">
                  <div class="list">
                    <li class="item" *ngFor="let companyName of companies" (click)="itemSelect(companyName)">{{companyName}}</li>
                  </div>
                </ion-item>
       
            </ion-list>  
            
            <button id="btnsubmit" ion-button type="submit" block [disabled]="!calcForm.valid" class="btn-submit">{{"calculate" | translate}}</button>

          </form>        
  </ion-content>
  
