<!--
  Generated template for the PayReturnCalcPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header>

  <ion-toolbar>
    <ion-buttons start>
      <button ion-button navPop>
        <ion-icon ios="ios-arrow-back" md="ios-arrow-back-outline"></ion-icon>
        <span class="nav-icon-text">{{"back" | translate}}</span>
      </button>
    </ion-buttons>

    <ion-buttons end>
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>

  </ion-toolbar>

</ion-header>


<ion-content padding class="content-wr">

  <ion-title>
    <span class="icon-cal-wr">
      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="51" height="51" viewBox="0 0 51 51">
        <defs>
            <linearGradient id="a" x1="-48.22" y1="794.76" x2="-66.16" y2="815.24" gradientTransform="matrix(2, 0, 0, -2, 381.78, 2112.1)" gradientUnits="userSpaceOnUse">
                <stop offset="0" stop-color="#0b8bba" />
                <stop offset="1" stop-color="#c6386b" />
            </linearGradient>
            <linearGradient id="b" x1="-49.65" y1="796.59" x2="-67.64" y2="817.07" gradientTransform="matrix(2, 0, 0, -2, 419.47, 2085.01)" xlink:href="#a" />
            <linearGradient id="c" x1="-114.73" y1="801.19" x2="-115.43" y2="801.99" gradientTransform="matrix(51, 0, 0, -51, 6157.01, 41365)" xlink:href="#a" />
        </defs>
        <title>cal-04</title>
        <path d="M265.48,498.31a1,1,0,0,0-.71-0.29,1.05,1.05,0,0,0-.71.29,1,1,0,0,0-.29.71,1.05,1.05,0,0,0,.29.71,1,1,0,0,0,.71.29,1.05,1.05,0,0,0,.71-0.29,1,1,0,0,0,.29-0.71A1.08,1.08,0,0,0,265.48,498.31Z" transform="translate(-257 -453)" fill="url(#a)" />
        <path d="M303.77,471.22a1,1,0,0,0-.71-0.29,1.05,1.05,0,0,0-.71.29,1,1,0,0,0-.29.71,1.05,1.05,0,0,0,.29.71,1,1,0,0,0,.71.29,1.05,1.05,0,0,0,.71-0.29A1,1,0,0,0,303.77,471.22Z" transform="translate(-257 -453)" fill="url(#b)" />
        <path d="M307.71,453.29A1,1,0,0,0,307,453H282.5a1,1,0,0,0-1,1v2.85l-9.44,2.53a1,1,0,0,0-.71,1.22l4.89,18.26L272,483.09a3,3,0,0,0-2.47-1.3H260a3,3,0,0,0-3,3V501a3,3,0,0,0,3,3h9.56a3,3,0,0,0,2.9-2.27l1.18,1a5,5,0,0,0,3.3,1.24H307a1,1,0,0,0,1-1V454A1,1,0,0,0,307.71,453.29ZM270.55,501a1,1,0,0,1-1,1H260a1,1,0,0,1-1-1V484.77a1,1,0,0,1,1-1h3.78v11.48a1,1,0,0,0,2,0V483.78h3.78a1,1,0,0,1,1,1V501Zm3-40,8-2.13v3.69l-0.67.18a1,1,0,0,0-.61.47,1,1,0,0,0-.1.76,2.71,2.71,0,0,1-1.89,3.29,1,1,0,0,0-.71,1.22h0l3.89,14.37h-2l-1-4a0.88,0.88,0,0,0-.17-0.35Zm8,6.12v8.41l-1.81-6.72A4.67,4.67,0,0,0,281.5,467.16ZM295.82,502H276.93a3,3,0,0,1-2-.75l-2.4-2.09V485.38l4.35-4.35,0.79,3.09a1,1,0,0,0,1,.75h19.58a1.4,1.4,0,0,1,0,2.79h-10a1,1,0,0,0,0,2h13.15a1.4,1.4,0,0,1,0,2.79H288.19a1,1,0,0,0,0,2h11a1.4,1.4,0,0,1,0,2.79h-11a1,1,0,0,0,0,2h7.62a1.4,1.4,0,0,1,1.4,1.4h0a1.36,1.36,0,0,1-1.36,1.37h0ZM306,502H298.9a3.39,3.39,0,0,0,0-2.79h0.3a3.41,3.41,0,0,0,3.39-3.39,3.29,3.29,0,0,0-.36-1.51,3.39,3.39,0,0,0,2.37-4.16h0A3.44,3.44,0,0,0,304,489V476.41a1,1,0,1,0-2,0v11.34a3.55,3.55,0,0,0-.73-0.08h0a3.35,3.35,0,0,0,.3-1.4,3.41,3.41,0,0,0-3.39-3.39h-1.6a4.77,4.77,0,1,0-3.74,0h-5.45V463.95a4.69,4.69,0,0,0,3.58-3.58h7.49a4.7,4.7,0,0,0,3.58,3.58V467a1,1,0,0,0,2,0v-4a1,1,0,0,0-1-1,2.69,2.69,0,0,1-2.68-2.68,1,1,0,0,0-1-1h-9.27a1,1,0,0,0-1,1,2.69,2.69,0,0,1-2.68,2.68,1,1,0,0,0-1,1v19.82H283.5V455H306v47Zm-11.26-20.73a2.78,2.78,0,1,1,2.78-2.78h0A2.78,2.78,0,0,1,294.75,481.28Z" transform="translate(-257 -453)" fill="url(#c)" />
    </svg>
    </span>
    <span class="title">
      {{"payReturnCalc" | translate}}
    </span>
  </ion-title>

  <form [formGroup]="calcForm" (ngSubmit)="submitForm()">
    <ion-input type="hidden" formControlName="calcMode"></ion-input>
    <ion-input type="hidden" formControlName="monthlyInstallment" value="{{monthlyInstallment}}"></ion-input>

    <ion-list class="input-list">
      <ion-item class="list-item">
        <ion-label floating>{{"monthlyInstallment" | translate}}*</ion-label>
        <ion-input type="tel" formControlName="monthlyInstallmentFormatted" (keyup)="currencyFormat($event, key='monthlyInstallmentFormatted')"
          value={{monthlyInstallmentFormatted}}></ion-input>
      </ion-item>
      <!-- Monthly Installment Validation -->
      <ion-item no-lines class="error" *ngIf="calcForm.controls.monthlyInstallmentFormatted.hasError('required') && calcForm.controls.monthlyInstallmentFormatted.touched ">
        <p>{{"fieldRequired" | translate}}</p>
      </ion-item>

      <ion-item class="list-item">
        <ion-label floating>{{"age" | translate}}*</ion-label>
        <ion-input type="number" pattern="[0-9]*" formControlName="age"></ion-input>
      </ion-item>
      <!-- Age Validation -->
      <ion-item no-lines class="error" *ngIf="calcForm.controls.age.hasError('required') && calcForm.controls.age.touched">
        <p>{{"fieldRequired" | translate}}</p>
      </ion-item>
      <ion-item no-lines class="error" *ngIf="(calcForm.controls.age.hasError('min') || calcForm.controls.age.hasError('max')) && calcForm.controls.age.touched">
        <p>{{"ageValidationMessage" | translate}}</p>
      </ion-item>

      <ion-item class="list-item">
        <ion-label floating>{{"firsttimehome" | translate}}*</ion-label>
        <ion-select interface="action-sheet" formControlName="firsthomebuyer">
          <ion-option value="yes">{{"yes" | translate}}</ion-option>
          <ion-option value="no">{{"no" | translate}}</ion-option>
        </ion-select>
      </ion-item>
      <!-- Firsthomebuyer Validation -->
      <ion-item no-lines class="error" *ngIf="calcForm.controls.firsthomebuyer.hasError('required') && calcForm.controls.firsthomebuyer.touched">
        <p>{{"fieldRequired" | translate}}</p>
      </ion-item>

      <ion-item class="list-item">
        <ion-label floating>{{"repaymentTerm" | translate}}*</ion-label>
        <ion-input type="number" pattern="[0-9]*" formControlName="repayment_terms"></ion-input>
      </ion-item>
      <!-- Repayment Term Validation -->
      <ion-item no-lines class="error" *ngIf="calcForm.controls.repayment_terms.hasError('required') && calcForm.controls.repayment_terms.touched">
        <p>{{"fieldRequired" | translate}}</p>
      </ion-item>
      <ion-item no-lines class="error" *ngIf="(calcForm.controls.repayment_terms.hasError('min') || calcForm.controls.repayment_terms.hasError('max')) && calcForm.controls.repayment_terms.touched">
        <p>{{"repaymentValidationMessage" | translate}}</p>
      </ion-item>

      <ion-item class="list-item">
        <ion-label floating>{{"interestType" | translate}}*</ion-label>
        <ion-select interface="action-sheet" formControlName="interesttype">
          <ion-option value="floating" selected>{{"floating" | translate}}</ion-option>
          <ion-option value="fixed">{{"fixed" | translate}}</ion-option>
        </ion-select>
      </ion-item>
      <!-- Interest Type Validation -->
      <ion-item no-lines class="error" *ngIf="calcForm.controls.interesttype.hasError('required') && calcForm.controls.interesttype.touched">
        <p>{{"fieldRequired" | translate}}</p>
      </ion-item>

      <ion-item class="list-item">
        <ion-label floating>{{"region" | translate}}*</ion-label>
        <ion-select interface="action-sheet" formControlName="location">
          <ion-option *ngFor="let r of regions" value="0.{{r.id}}">{{r.value}}</ion-option>
        </ion-select>
      </ion-item>
      <!-- Region Validation -->
      <ion-item no-lines class="error" *ngIf="calcForm.controls.location.hasError('required') && calcForm.controls.location.touched">
        <p>{{"fieldRequired" | translate}}</p>
      </ion-item>

      <ion-item class="list-item">
        <ion-label floating>{{"sector" | translate}}*</ion-label>
        <ion-select interface="action-sheet" formControlName="sector">
          <ion-option *ngFor="let s of sectors" value="{{s.id}}">{{s.value}}</ion-option>
        </ion-select>
      </ion-item>
      <!-- Sector Validation -->
      <ion-item no-lines class="error" *ngIf="calcForm.controls.sector.hasError('required') && calcForm.controls.sector.touched">
        <p>{{"fieldRequired" | translate}}</p>
      </ion-item>

      <ion-item class="list-item">
        <ion-label floating>{{"company" | translate}}</ion-label>
        <ion-input type="text" formControlName="company" (keyup)="autoCompleteCompany($event)" value={{company}}></ion-input>
      </ion-item>

      <ion-item class="list-item list-search" *ngIf="companies.length > 0">
        <div class="list">
          <li class="item" *ngFor="let companyName of companies" (click)="itemSelect(companyName)">{{companyName}}</li>
        </div>
      </ion-item>

    </ion-list>

    <button id="btnsubmit" ion-button type="submit" block [disabled]="!calcForm.valid"  class="btn-submit">{{"calculate" | translate}}</button>
    
  </form>


</ion-content>

