.home {
     
    ion-card.banner{
        margin: 0 auto;
        width: 100%;
        height: 26.108374384236vh;
        border-radius: 0;
        .logo-wr{
            display: inline-block;
            height: 15.51724137931vh;
            svg{
                height: 100%;
                width: auto;
            }
        }
        .card-title {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .home-lang {
            position: absolute;
            z-index: 1;
            right: 2vh;
            top:3vh;
            background: none;
            color:#FFF;
        }
    }

    .calc-block-wr{
        .row{
            align-items: stretch;
            .col{
                display: flex;
                align-items: stretch;
                ion-card.calc-block{
                    margin:0;
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    height: 24.630541871921vh;
                    border-radius: 0;
                    .calc-icon-wr{
                        height:51px;
                        display: inline-block;
                        height: 6.2807881773399vh;
                        img{
                            width: auto;
                            height:100%;
                        }
                    }
                    .card-content{
                        padding: 1.5vh 15px 15px;
                        margin: 0;
                        .card-title{
                            font-size:18px;
                            font-size: 2.2167487684729vh;
                            color:#868e95;
                            padding:0;
                            margin:0;
                            text-align: center;
                        }
                    }
                        
                }
            }
        }
        
    }
    
}
.ar{
    .home {
        .home-lang {
            left:2vh;
            right: auto;
        }      

        .calc-block-wr{
            .row{
                // flex-direction: row-reverse;
            }
        }
    }
}