<!--
  Generated template for the FinanceCalcPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-toolbar>
    <ion-buttons start>
      <button ion-button navPop>
        <ion-icon ios="ios-arrow-back" md="ios-arrow-back-outline"></ion-icon>
        <span class="nav-icon-text">{{"back" | translate}}</span>
      </button>
    </ion-buttons>

    <ion-buttons end>
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>

  </ion-toolbar>

</ion-header>


<ion-content padding class="content-wr">

  <ion-title>
    <span class="icon-cal-wr">
      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="51.01" height="51.02" viewBox="0 0 51.01 51.02"><defs><linearGradient id="a" x1="-114.65" y1="801.32" x2="-115.51" y2="802.2" gradientTransform="matrix(51.01, 0, 0, -51.02, 6158.18, 41579.04)" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#0b8bba"/><stop offset="1" stop-color="#c6386b"/></linearGradient><linearGradient id="b" x1="-47.36" y1="795.02" x2="-69.27" y2="817.59" gradientTransform="matrix(2, 0, 0, -2, 399.5, 2290.7)" xlink:href="#a"/><linearGradient id="c" x1="-106.04" y1="797.26" x2="-109.76" y2="819.83" gradientTransform="matrix(11.87, 0, 0, -2, 1568.59, 2290.7)" xlink:href="#a"/><linearGradient id="d" x1="-99.94" y1="799.58" x2="-105" y2="802.94" gradientTransform="matrix(8.65, 0, 0, -13.47, 1168.55, 11472.11)" xlink:href="#a"/><linearGradient id="e" x1="-100.97" y1="800.11" x2="-105.9" y2="803.43" gradientTransform="matrix(8.88, 0, 0, -13.6, 1207.64, 11574.83)" xlink:href="#a"/><linearGradient id="f" x1="-103.74" y1="800.6" x2="-108.01" y2="803.96" gradientTransform="matrix(10.27, 0, 0, -13.45, 1383.3, 11459.1)" xlink:href="#a"/><linearGradient id="g" x1="-92.88" y1="791.86" x2="-100.42" y2="814.43" gradientTransform="matrix(5.98, 0, 0, -2, 854.5, 2290.7)" xlink:href="#a"/></defs><title>cal-06</title><path d="M299,651H266a9,9,0,0,0-9,9V675.8a9,9,0,0,0,9,9h8.91v12.07a1,1,0,0,0,1,1h0a1,1,0,0,0,.69-0.29l3.67-3.76,4,7.7a1,1,0,0,0,.89.54,1,1,0,0,0,.42-0.09l3.94-1.83a1,1,0,0,0,.46-1.36h0l-4-7.58,4.55-1a1,1,0,0,0,.72-1.24h0a1,1,0,0,0-.32-0.51l-4.58-3.63H299a9,9,0,0,0,9-9V660A9,9,0,0,0,299,651ZM284.3,689.46a1,1,0,0,0-.74,1.22h0a0.9,0.9,0,0,0,.08.21l4.12,7.81-2.13,1-4.24-8.07a1,1,0,0,0-1.38-.39,0.83,0.83,0,0,0-.21.16l-2.92,3V679.76l11.22,8.88ZM306,675.8a7,7,0,0,1-7,7H283.88l-7.39-5.86a1,1,0,0,0-1.4.18h0a1,1,0,0,0-.2.58v5.08H266a7,7,0,0,1-7-7h0V660a7,7,0,0,1,7-7H299a7,7,0,0,1,7,7h0V675.8Z" transform="translate(-257 -651)" fill="url(#a)"/><path d="M282.5,676.7a1,1,0,1,0,1,1A1,1,0,0,0,282.5,676.7Z" transform="translate(-257 -651)" fill="url(#b)"/><path d="M296.44,676.7h-10a1,1,0,0,0,0,2h10a1,1,0,0,0,.91-1.09A1,1,0,0,0,296.44,676.7Z" transform="translate(-257 -651)" fill="url(#c)"/><path d="M272.15,665.34a2.86,2.86,0,0,0,1.56-2.93q0-3.24-3.7-3.24h-3.56a1,1,0,0,0-1.05.76v12a1,1,0,0,0,1.05.74h3.9a4.15,4.15,0,0,0,2.73-1,3.77,3.77,0,0,0,1-2.85v-0.39A2.92,2.92,0,0,0,272.15,665.34Zm-4.36-4.06h2a1.47,1.47,0,0,1,1.5,1.42v0.13a1.46,1.46,0,0,1-1.31,1.58H267.8v-3.14h0Zm3.86,7.25c0,1.34-.6,2-1.78,2h-2.08v-4.25h2.08a1.71,1.71,0,0,1,1.8,1.61,1.3,1.3,0,0,1,0,.34v0.29Z" transform="translate(-257 -651)" fill="url(#d)"/><path d="M286.39,659.91a1.05,1.05,0,0,0-1.2-.74,1,1,0,0,0-1.2.74v8.62a2,2,0,1,1-4,0v-8.62a0.58,0.58,0,0,0-.35-0.55,1.76,1.76,0,0,0-.85-0.18,1,1,0,0,0-1.2.74v8.61a4,4,0,0,0,1.2,3.21,4.87,4.87,0,0,0,3.22,1,4.76,4.76,0,0,0,3.23-1,3.92,3.92,0,0,0,1.2-3.2S286.39,660,286.39,659.91Z" transform="translate(-257 -651)" fill="url(#e)"/><path d="M299.15,659.48a1.22,1.22,0,0,0-1.77.18L294.56,665l-2.8-5.32a1.24,1.24,0,0,0-1.79-.19,0.85,0.85,0,0,0-.53.7,1.06,1.06,0,0,0,.06.24l3.82,6.59a0.34,0.34,0,0,1,.06.24v4.64a1.07,1.07,0,0,0,1.2.76,1,1,0,0,0,1.2-.76v-4.65a0.4,0.4,0,0,1,.07-0.24l3.8-6.59a0.5,0.5,0,0,0,.06-0.24A0.87,0.87,0,0,0,299.15,659.48Z" transform="translate(-257 -651)" fill="url(#f)"/><path d="M271.84,676.7h-4a1,1,0,0,0,0,2h4A1,1,0,1,0,271.84,676.7Z" transform="translate(-257 -651)" fill="url(#g)"/></svg>
    </span>
    <span class="title">
      {{"buyRentCalc" | translate}}
    </span>
  </ion-title>

  <form [formGroup]="calcForm" (ngSubmit)="submitForm()">
    <ion-input type="hidden" formControlName="calcMode"></ion-input>
    <div class="field-group buy">
      <h3 class="title">{{"buy" | translate}}</h3>

      <div class="range-wr">
        <div class="range-top">
          <ion-label>{{"propertyPrice" | translate}}</ion-label>
          <ion-badge item-right>{{buyPropertyPriceFormatted}}</ion-badge>
        </div>
        <ion-range min="150000" max="3000000" formControlName="buyPropertyPrice" color="primary" (ionChange)="onSlideChange(this.calcForm.controls.buyPropertyPrice.value, 'buyPropertyPrice')">
        </ion-range>
        <div class="range-bottom">
          <ion-label range-left>{{"sar" | translate}}</ion-label>
          <ion-label range-right>3,000,000</ion-label>
        </div>
      </div>

      <div class="range-wr">
        <div class="range-top">
          <ion-label>{{"downPayment" | translate}}</ion-label>
          <ion-badge item-right>%{{this.calcForm.controls.downPayment.value}}</ion-badge>
        </div>
        <ion-range min="15" max="100" formControlName="downPayment" color="primary">
        </ion-range>
        <div class="range-bottom">
          <ion-label range-left>%15</ion-label>
          <ion-label range-right>100%</ion-label>
        </div>
      </div>

      <div class="range-wr range-wr-lastof-group">
        <div class="range-top">
          <ion-label>{{"repaymentTerm" | translate}}</ion-label>
          <ion-badge item-right>{{this.calcForm.controls.repayment_terms.value}}</ion-badge>
        </div>
        <ion-range min="1" max="30" formControlName="repayment_terms" color="primary">
        </ion-range>
        <div class="range-bottom">
            <ion-label range-left>1</ion-label>
            <ion-label range-right>30</ion-label>
        </div>
      </div>

      <ion-list class="input-list">
        <ion-item class="list-item">
          <ion-label floating><p>{{"sector" | translate}}</p></ion-label>
          <ion-select interface="action-sheet" formControlName="sector">
            <ion-option *ngFor="let s of sectors" value="{{s.id}}">{{s.value}}</ion-option>
          </ion-select>
        </ion-item>
        <!-- Sector Validation -->
        <ion-item no-lines class="error" *ngIf="calcForm.controls.sector.hasError('required') && calcForm.controls.sector.touched">
          <p>{{"fieldRequired" | translate}}</p>
        </ion-item>
      </ion-list>

    </div>

    <hr>

    <div class="field-group rent">
      <h3 class="title">{{"rent" | translate}}</h3>
      <div class="range-wr">
        <div class="range-top">
          <ion-label>{{"monthlyRentAmount" | translate}}</ion-label>
          <ion-badge item-right>{{rentPropertyPriceFormatted}}</ion-badge>
        </div>
        <ion-range min="500" max="10000" formControlName="rentPropertyPrice" color="primary" (ionChange)="onSlideChange(this.calcForm.controls.rentPropertyPrice.value, 'rentPropertyPrice')">
        </ion-range>
        <div class="range-bottom">
          <ion-label range-left>{{"sar" | translate}} 500</ion-label>
          <ion-label range-right>{{"sar" | translate}} 10,000</ion-label>
        </div>
      </div>
    </div>
    
    <button id="btnsubmit" ion-button type="submit" block class="btn-submit" [disabled]="!calcForm.valid">{{"calculate" | translate}}</button>

  </form>

</ion-content>