
$range-ios-bar-active-background-color:red;
page-buy-rent-calc {
    ion-navbar{
        height:70px;
    }
    .toolbar-title {
        border: none;
        display: flex;
        align-items: center;
        .icon-cal-wr{
            display: inline-block;
            height:52px;
            svg{
                height: 100%;
                width: auto;
            }
        }
        .title{
            font-size: 20px;
            color:#868e95;
            font-weight: 400;
            white-space: normal;
            text-align: left;
            padding-left: 20px;
            font-weight: 700;
        }
    }
    .content-wr{
        background: #f2f2f2;
        .scroll-content{
            padding: 10px 20px 30px!important;
            ion-title{
                margin-top: 20px;
                margin:10px 3px 0;
                margin:10px 3px 15px;
            }
            .field-group{
                &.rent{
                    margin-bottom: 40px;
                }
                .title{
                    font-size: 20px;
                    color:#ec0c6d;
                    margin-bottom: 30px;
                    margin-top: 35px;
                    margin-bottom: 30px;
                    margin-top: 30px;
                }
                .range-wr{
                    margin:25px 0;
                    &.range-wr-lastof-group{
                        margin-bottom: 25px;
                    }
                    .range-top{
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        
                        .badge,.label{
                            flex:unset;
                            margin: 0;
                            font-size: 18px;
                            color:#868e95;
                            font-weight: 400;
                        }
                        .badge{
                            color:#00a2e5;
                            background: none;
                            padding: 0;
                        }
                    }
                    .range-bottom{
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        .label{
                            flex:unset;
                            margin: 0;
                            font-size: 14px;
                            color:#868e95;
                        }
                    }
                    .range{
                        padding-top:0;
                        padding-bottom: 0;
                        padding: 0 12.5px;
                        margin:3px 0;
                        .range-slider{
                            height: 25px;
                            .range-bar{
                                height: 3px;
                                top: 11px;
                                background: rgba(134, 142, 149, .2);
                                &.range-bar-active{
                                    background:#00A2E5;
                                }
                                &:before{
                                    content:"";
                                    width: 12.5px;
                                    height:3px;
                                    background: #00A2E5;
                                    position: absolute;
                                    left: -12.5px;
                                }
                                &:after{
                                    content:"";
                                    width: 12.5px;
                                    height:3px;
                                    background: rgba(134, 142, 149, .2);
                                    position: absolute;
                                    right: -10.5px;
                                }
                            }
                            .range-knob-handle{
                                top: 21px;
                                height: 25px;
                                width: 25px;
                                .range-knob{
                                    width: 25px;
                                    height: 25px;
                                    border:3px solid #00A2E5;
                                    top: 0;
                                    box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.1), 1px 2px 1px rgba(0, 0, 0, 0.13), 1px 2px 0px 1px rgba(0, 0, 0, 0.02)
                                }
                            }
                        }
                    }
                }
                .input-list{
                    .list-item{
                        &.input-has-value,&.input-has-focus{
                            .item-inner{
                                .input-wrapper{
                                    .label{
                                        font-size: 18px;
                                        color: #868e95;
                                        font-weight: 400;
                                        transform: translate3d(0, 0, 0) scale(1);
                                        bottom:4px;
                                    }
                                }
                            }
                            
                        }
                    }
                }
            }
                
        }
    }
}

.ar{
    page-buy-rent-calc {
        .content-wr{
            .scroll-content{
                .field-group{
                    .range-wr{
                        .range{
                            .range-slider{
                                .range-bar{
                                    &.range-bar-active{
                                        background:#00A2E5;
                                        left: 0;
                                    }
                                }
                                .range-knob-handle{
                                    margin-left: -7px;
                                    margin-right: auto;
                                }
                            }
                        }
                        .range-bottom{
                            flex-direction: row-reverse;
                        }
                    }
                }
            }
        }
    }
}



