// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

@font-face {
    font-family: 'Radikal';
    src: url('../assets/fonts/radikal-webfont.eot');
    src: url('../assets/fonts/radikal-webfont.eot') format('embedded-opentype'),
        url('../assets/fonts/radikal-webfont.woff2') format('woff2'),
        url('../assets/fonts/radikal-webfont.woff') format('woff'),
        url('../assets/fonts/radikal-webfont.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Radikal';
    src: url('../assets/fonts/radikal-medium-webfont.eot');
    src: url('../assets/fonts/radikal-medium-webfont.eot') format('embedded-opentype'),
        url('../assets/fonts/radikal-medium-webfont.woff2') format('woff2'),
        url('../assets/fonts/radikal-medium-webfont.woff') format('woff'),
        url('../assets/fonts/radikal-medium-webfont.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Radikal';
    src: url('../assets/fonts/radikal-bold-webfont.eot');
    src: url('../assets/fonts/radikal-bold-webfont.eot') format('embedded-opentype'),
        url('../assets/fonts/radikal-bold-webfont.woff2') format('woff2'),
        url('../assets/fonts/radikal-bold-webfont.woff') format('woff'),
        url('../assets/fonts/radikal-bold-webfont.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'GEFlow';
    src: url('../assets/fonts/GEFlowRegular.eot');
    src: url('../assets/fonts/ge-flow-regular.eot') format('embedded-opentype'),
         url('../assets/fonts/ge-flow-regular.woff2') format('woff2'),
         url('../assets/fonts/ge-flow-regular.woff') format('woff'),
         url('../assets/fonts/ge-flow-regular.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'GEFlow';
    src: url('../assets/fonts/ge_flow_bold-webfont.eot');
    src: url('../assets/fonts/ge_flow_bold-webfont.eot') format('embedded-opentype'),
         url('../assets/fonts/ge_flow_bold-webfont.woff2') format('woff2'),
         url('../assets/fonts/ge_flow_bold-webfont.woff') format('woff'),
         url('../assets/fonts/ge_flow_bold-webfont.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}



body{
    font-family: 'Radikal';
    &.en{
        .btn-lang{
            font-family: 'GEFlow';
            font-weight: 300;
        }
    }
    &.ar{
        font-family: 'GEFlow' !important;
        ion-app.ios{
            font-family: 'GEFlow' !important;
        }
        .btn-lang{
            font-family: 'Radikal';
            font-weight: 300;
        }

    }

}

.toast-message {
    white-space: pre-line;
}


$accent01: #00A2E5;
$accent02: #EC0C6D;


.nav-icon-text{
    margin:0 10px;
}
ion-app{
    .app-root{
        ion-nav.menu-content{
            >.ion-page{
                >ion-header.header{
                    >ion-toolbar.toolbar{
                        min-height: 9.2364532019704vh;
                        min-height: 9.3vh;
                        .toolbar-background{
                            background-image: url(../assets/imgs/home-bg.jpg);
                            background-position: center;
                            background-size: cover;
                        }
                        ion-buttons{
                            margin: 0 7px;
                            .bar-button-default-ios{
                                color:#fff;
                            }
                        }
                    }
                }
            }
        }
    }
}
.ar{
    ion-app{
        .app-root{
            ion-nav.menu-content{
                >.ion-page{
                    >ion-header.header{
                        >ion-toolbar.toolbar{
                            flex-direction: row-reverse;
                            .button-inner{
                                flex-direction: row-reverse;
                                .ion-ios-arrow-back{
                                    -webkit-transform: scaleX(-1);
                                    transform: scaleX(-1);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
ion-menu{
    &.menu{
        .menu-inner{
            .content{
                .scroll-content{
                    overflow-y: hidden;
                    background: #EC0C6D;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    .menu-list{
                        margin-top:6.7733990147783vh;
                        button{
                            &.item{
                                background:none;
                                border-top:none;
                                padding:0;
                                border: none;
                                .item-inner{
                                    padding: 0;
                                    background: none;
                                    border-bottom:1px solid #c90a5d;
                                    .input-wrapper{
                                        .label{
                                            padding:15px;
                                            color:#fff;
                                            text-align: right;
                                            font-size: 2.4630541871921vh;
                                            display: flex;
                                            justify-content: flex-end;
                                            align-items: center;
                                            .title{
                                                margin:0 20px;
                                            }
                                            .icon-wr {
                                                display: inline-block;
                                                height: 21px;
                                                width: 21px;
                                                text-align: center;
                                                height: 2.5862068965517vh;
                                                img{
                                                    height: 100%;
                                                    width: auto;
                                                }
                                                &.icon-close-wr{
                                                    height: 2.2167487684729vh;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                    .menu-footer{
                        .icon-wr{
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            .button-ios{
                                background: none;
                                margin:0 15px;
                            }
                        }
                        .copyright-wr{
                            text-align: center;
                            font-size: 13px;
                            color:#fff;
                        }
                    }
                }
            }
        }
    }
}
.ar{
    ion-menu{
        &.menu{
            .menu-inner{
                .content{
                    .scroll-content{
                        .menu-list{
                            button{
                                &.item{
                                    .item-inner{
                                        .input-wrapper{
                                            .label{
                                                flex-direction: row-reverse;
                                                margin-left: 0;
                                                margin-right: 8px;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.button-ios{
    
    border-radius: 0;
    background-color: $accent01;
    .icon-wr{
        margin:0 15px;
    }
    &.btn-submit{
        box-sizing: content-box;
        padding: 8px 0;
        border-radius: 0;
    }
}
.button-ios-light {
    color: $accent01;
    background-color: #fff;
}
.button-ios-secondary {
    color: #fff;
    background-color: $accent02;
}
.result-content{
    .scroll-content{
        background-color:$accent01;
        color:#fff;
        padding:20px !important;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: stretch;
        .result{
            margin-bottom: auto;
            &.result-v1{
                margin-top: 15px;
                .sub-title{
                    font-size: 22px;
                    &.error {
                        color:#e01515;
                        text-align: center;
                    }
                }
                .title{
                    font-size: 45px;
                    color:$accent01;
                    background:#fff;
                    padding:4.679802955665vh 9.6vw;
                    margin: 15px auto 22px;
                    // .cur{
                    //     font-size: 50%;
                    // }
                    .value{
                        white-space: nowrap;
                    }
                }
                .break-down{
                    font-size: 16px;
                }
            }
            &.result-v2{
                margin-top: 15px;
                .sub-title{
                    font-size: 22px;
                }
                .title{
                    font-size: 45px;
                    color:$accent01;
                    background:#fff;
                    padding:4.679802955665vh 9.6vw;
                    margin: 15px auto 22px;
                    .value{
                        white-space: nowrap;
                    }
                }
                .break-down{
                    font-size: 15px;
                    padding: 0;
                    ion-row{
                        &.heading,&.total{
                            ion-col{
                                color:$accent02;
                            }
                        }
                        ion-col{
                            border:1px solid rgba(112, 112, 112, 0.3);
                            color:#868e95;
                            background:#fff;
                            padding-top: 15px;
                            padding-bottom: 15px;
                            
                            &:last-child,&:nth-last-child(2){
                                text-align: center;
                                color:$accent01;              
                            }
                        }
                    }
                }
                .desc{
                    font-size: 20px;
                }
            }
        }
        .result-action-wr{
            .button-ios{
                height:60px;
                margin:20px 0;
                .icon-wr{
                    max-height: 28px;
                    img{
                        height:100%;
                        width: auto;
                    }
                }
            }
        }
    }
}

.scroll-content{
    hr {
        height: 3px;
        background: rgba(134, 142, 149, .2);
        width: 100vw;
        left: -5vw;
        position: relative;
        margin: 48px 0 42px;
    }
    ion-list.input-list{
        margin-top:18px !important;
        margin-top: -6px !important;
        border: none;
        ion-item{
            &.item-input,&.item-select{
                border: none !important;
                display: block !important;
                background: transparent !important;
                padding:0 !important;
                overflow: visible !important;
                &.input-has-focus,&.item-input-has-focus,
                &.input-has-value,&.item-input-has-value{
                    .item-inner{
                        .input-wrapper{
                            
                            .label{
                                font-size: 16px;
                                color:#000;
                                color:#868E95;
                                left: 8px;
                                left: 2px;
                                bottom: -3px;

                                font-size: 14px;
                                bottom: -5px;
                            
                            }
                        }
                    }
                }
                .item-inner{
                    padding: 0 !important;
                    border:none !important;
                    .input-wrapper{
                        overflow: visible !important;
                        padding: 0 2px;
                        .label{
                            bottom: -15px;
                            position: relative;
                            left: 24px;
                            height: 20px;
                            color:#868e95;
                            font-size: 18px;
                            line-height: 1;
                            margin: 7px 0 0;
                            display: inline-block;
                            -webkit-transition:all 150ms ease-in-out;
                            transition: all 150ms ease-in-out;
                            transition: all 150ms ease-in-out;
                            transition: all 150ms ease-in-out;

                            margin:5px 0 0;
                            bottom: -8px;
                            left: 15px;
                            font-size: 15px;
                        }
                        ion-input,ion-select{
                            .text-input,.select{
                                background:#fff;
                                color:#222;
                                padding: 20px 22px;
                                
                                margin:0 0 2px !important;
                                font-size: 18px;
                                line-height: 1;
                                width: 100%;
                                box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.15);

                                padding: 12px 15px;
                                font-size: 16px;
                            }
                        }
                        ion-select{
                            &.select{
                                background:#fff;
                                color:#000;
                                padding: 20px 22px;
                                padding: 12px 15px;
                                margin:0 0 2px !important;
                                font-size: 18px;
                                line-height: 1;
                                width: 100%;
                                box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.15);

                                font-size: 16px;
                                .select-text{
                                    font-size: 16px;
                                }
                            }
                        }
                    }
                    
                }
            }
            &.error{
                border: none !important;
                display: block !important;
                background: transparent !important;
                padding:0 !important;
                min-height: unset;
                .item-inner{
                    padding: 0;
                    margin: 0;
                    .input-wrapper{
                        .label{
                            padding:0;
                            margin: 0;
                            p{
                                color:red;
                                font-size: 11px;
                                right: 4px;
                                bottom: -1px;
                                position: relative;
                                float: right;
                            }
                        }
                    }
                }
            }
            &.list-search{
                margin: 0 2px;
                box-sizing: content-box;
                padding: 0;
                .item-inner{
                    padding: 0;
                    .input-wrapper{
                        max-height: 30vh;
                        overflow-y: auto;
                        display: block !important;
                        &::-webkit-scrollbar {
                            -webkit-appearance: none;
                            width: 7px;
                            background: rgba(0, 0, 0, .1);
                        }
                        &::-webkit-scrollbar-thumb {
                            border-radius: 4px;
                            background-color: rgba(0,0,0,.5);
                            -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
                        }
                        .label{
                            margin:15px 15px;
                            .list{
                                .item{
                                    margin-bottom: 15px;
                                    white-space: normal;
                                    line-height: .9;
                                    line-height: 1.2;
                                    &:last-child{
                                        margin-bottom: 0;
                                    }
                                }
                            }   
                        }
                    }
                }                    
            }
        }
    }
}


.ar{
    .toolbar-title {
        .title{
            padding-right: 20px;
            padding-left: 0;
            text-align: right;
        }
    }
    .scroll-content{
        hr {
                right: -5vw;
                left:auto;
        }
        ion-list.input-list{
            ion-item{
                &.item-input,&.item-select{
                    .item-inner{
                        .input-wrapper{
                            .label{
                                right: 15px;
                                left:auto;
                            }
                            ion-input,ion-select{
                                .text-input,.select{
                                    text-align: right;
                                }
                            }
                            ion-select{
                                &.select{
                                    text-align: right;
                                    .select-text{
                                        font-size: 16px;
                                    }
                                }
                            }
                        }
                    }
                    &.input-has-focus,&.item-input-has-focus,
                    &.input-has-value,&.item-input-has-value{
                        .item-inner{
                            .input-wrapper{
                                
                                .label{
                                    right: 2px;
                                    left:auto;                                
                                }
                            }
                        }
                    }
                }
                &.error{
                    .item-inner{
                        .input-wrapper{
                            .label{
                                p{
                                    left: 4px;
                                    right:auto;
                                    float: left;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}