<ion-menu class="menu" [content]="content" side="right" type="overlay" swipeEnabled="false">
    <!-- <ion-header> 
        <ion-toolbar>
        <ion-title>Menu</ion-title>
        </ion-toolbar>
    </ion-header> -->

    <ion-content>
        <!-- <ion-list class="menu-list">
            <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
                {{p.title}}
            </button>
        </ion-list> -->
        <ion-list class="menu-list">
            <button menuClose ion-item >
                <span class="title"> </span>
                <span class="icon-wr icon-close-wr">
                    <img src="./assets/imgs/menu/close.svg" />
                </span>
            </button>
            <button menuClose ion-item (click)="openPage(homePage)">
                <span class="title">{{"home" | translate}}</span>
                <span class="icon-wr">
                    <img src="./assets/imgs/menu/home.svg" />
                </span>
            </button>
            <button menuClose ion-item (click)="openPage(homePage)">
                <span class="title">{{"calculator" | translate}}</span>
                <span class="icon-wr">
                    <img src="./assets/imgs/menu/calculators.svg" />
                </span>
            </button>
            <button menuClose ion-item (click)="openBrowser('https://www.bidaya.com.sa/en/about-us')">
                <span class="title">{{"about" | translate}}</span>
                <span class="icon-wr">
                    <img src="./assets/imgs/menu/about.svg" />
                </span>
            </button>
            <button menuClose ion-item (click)="openBrowser('https://www.bidaya.com.sa/en/contact-us')">
                <span class="title">{{"contact" | translate}}</span>
                <span class="icon-wr">
                    <img src="./assets/imgs/menu/contact.svg" />
                </span>
            </button>
            <button menuClose ion-item  class="btn-lang" (click)="switchLang()">
                <span class="title">{{"transSwitcher" | translate}}</span>
                <span class="icon-wr">
                    <img src="./assets/imgs/menu/lang.svg" />
                </span>
            </button>
        </ion-list>

        <div class="menu-footer">
            <div class="icon-wr">
                <button ion-button icon-only (click)="openBrowser('https://www.facebook.com/BidayaHomeFinance/')">
                    <span class="icon-wr">
                        <img src="./assets/imgs/menu/facebook.svg" />
                    </span>
                </button>
                <button ion-button icon-only (click)="openBrowser('https://twitter.com/BidayaKsa')">
                    <span class="icon-wr ">
                        <img src="./assets/imgs/menu/twitter.svg" />
                    </span>
                </button>
                <button ion-button icon-only (click)="openBrowser('https://www.instagram.com/bidaya.ksa/')">
                    <span class="icon-wr">
                        <img src="./assets/imgs/menu/instagram.svg" />
                    </span>
                </button>
            </div>
            <p class="copyright-wr">
                <span class="copyright">{{"copyright" | translate}}</span>
                <span class="version">
                    v.2.3.2
                </span>
            </p>
        </div>
    </ion-content>

</ion-menu>


<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
