<!--
  Generated template for the FinanceCalcPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-toolbar>
    <ion-buttons start>
      <button ion-button navPop>
        <ion-icon ios="ios-arrow-back" md="ios-arrow-back-outline"></ion-icon>
        <span class="nav-icon-text">{{"back" | translate}}</span>
      </button>
    </ion-buttons>

    <ion-buttons end>
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>

  </ion-toolbar>

</ion-header>


<ion-content padding class="content-wr">

  <ion-title>
    <span class="icon-cal-wr">
      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="50.7" height="49.86"
        viewBox="0 0 50.7 49.86">
        <defs>
          <linearGradient id="a" x1="-114.73" y1="801.18" x2="-115.49" y2="802.05" gradientTransform="matrix(50.7, 0, 0, -49.86, 5933.6, 40251.73)"
            gradientUnits="userSpaceOnUse">
            <stop offset="0" stop-color="#0b8bba" />
            <stop offset="1" stop-color="#c6386b" />
          </linearGradient>
          <linearGradient id="b" x1="-111.36" y1="798.45" x2="-112.99" y2="804.85" gradientTransform="matrix(23.67, 0, 0, -6.77, 2766.88, 5697.76)"
            xlink:href="#a" />
          <linearGradient id="c" x1="-96.15" y1="798.59" x2="-101.85" y2="805.01" gradientTransform="matrix(6.76, 0, 0, -6.76, 771.5, 5699.09)"
            xlink:href="#a" />
          <linearGradient id="d" x1="-96.7" y1="799.21" x2="-102.4" y2="805.63" gradientTransform="matrix(6.76, 0, 0, -6.76, 779.96, 5699.05)"
            xlink:href="#a" />
          <linearGradient id="e" x1="-97.28" y1="799.83" x2="-102.97" y2="806.25" gradientTransform="matrix(6.77, 0, 0, -6.76, 789.58, 5699.09)"
            xlink:href="#a" />
          <linearGradient id="f" x1="-96.77" y1="799.29" x2="-102.47" y2="805.7" gradientTransform="matrix(6.76, 0, 0, -6.77, 771.5, 5715.51)"
            xlink:href="#a" />
          <linearGradient id="g" x1="-97.32" y1="799.91" x2="-103.02" y2="806.32" gradientTransform="matrix(6.76, 0, 0, -6.77, 779.96, 5715.51)"
            xlink:href="#a" />
          <linearGradient id="h" x1="-97.9" y1="800.53" x2="-103.59" y2="806.94" gradientTransform="matrix(6.77, 0, 0, -6.77, 789.58, 5715.51)"
            xlink:href="#a" />
          <linearGradient id="i" x1="-97.39" y1="799.99" x2="-103.09" y2="806.4" gradientTransform="matrix(6.76, 0, 0, -6.76, 771.5, 5715.94)"
            xlink:href="#a" />
          <linearGradient id="j" x1="-97.94" y1="800.61" x2="-103.64" y2="807.03" gradientTransform="matrix(6.76, 0, 0, -6.76, 779.96, 5715.98)"
            xlink:href="#a" />
          <linearGradient id="k" x1="-98.01" y1="800.69" x2="-103.71" y2="807.1" gradientTransform="matrix(6.76, 0, 0, -6.76, 771.5, 5724.44)"
            xlink:href="#a" />
          <linearGradient id="l" x1="-98.56" y1="801.31" x2="-104.26" y2="807.72" gradientTransform="matrix(6.76, 0, 0, -6.76, 779.96, 5724.4)"
            xlink:href="#a" />
          <linearGradient id="m" x1="-98.83" y1="801.54" x2="-104.52" y2="804.39" gradientTransform="matrix(6.77, 0, 0, -15.22, 789.58, 12500.86)"
            xlink:href="#a" />
          <linearGradient id="n" x1="-29.82" y1="787.32" x2="-52.62" y2="812.99" gradientTransform="matrix(1.69, 0, 0, -1.69, 84.8, 1393.27)"
            xlink:href="#a" />
          <linearGradient id="o" x1="-32.41" y1="790.73" x2="-55.34" y2="816.55" gradientTransform="matrix(1.68, 0, 0, -1.68, 164.45, 1639.25)"
            xlink:href="#a" />
          <linearGradient id="p" x1="-25.36" y1="782.29" x2="-48.16" y2="807.96" gradientTransform="matrix(1.69, 0, 0, -1.69, 84.8, 1378.06)"
            xlink:href="#a" />
        </defs>
        <title>cal-01</title>
        <path d="M117.17,254h-27a2.52,2.52,0,0,0-2.53,2.52h0v6.76H69.85a0.86,0.86,0,0,0-.85.86h0V303a0.84,0.84,0,0,0,.84.84h47.33a2.52,2.52,0,0,0,2.53-2.52h0v-44.8a2.53,2.53,0,0,0-2.52-2.54h0ZM70.68,302.17v-2.54H85a0.84,0.84,0,0,0,.84-0.84h0a0.84,0.84,0,0,0-.84-0.84H70.68v-2.53H85a0.84,0.84,0,0,0,.84-0.84h0a0.84,0.84,0,0,0-.84-0.84H70.68v-2.54H85a0.84,0.84,0,0,0,.84-0.84h0a0.84,0.84,0,0,0-.84-0.84H70.68V287H85a0.84,0.84,0,0,0,.84-0.84h0a0.84,0.84,0,0,0-.84-0.84H70.68V265H87.59v1.68h-11a0.85,0.85,0,0,0-.85.85h0v2.54H73.22a0.84,0.84,0,0,0-.84.84h0v8.44a0.85,0.85,0,0,0,.85.85h2.53v2.53a0.84,0.84,0,0,0,.84.84h5.8a0.84,0.84,0,0,0,.84-0.84h0a0.84,0.84,0,0,0-.84-0.84H77.46v-2.55a0.85,0.85,0,0,0-.85-0.85H74.07v-6.76H76.6a0.85,0.85,0,0,0,.85-0.85h0v-2.54H87.6V271a4.22,4.22,0,0,0,0,8.28v22.06a2.45,2.45,0,0,0,.15.85H70.68ZM87.6,272.75v4.76a2.52,2.52,0,0,1-1.55-3.21A2.49,2.49,0,0,1,87.6,272.75ZM118,301.32a0.85,0.85,0,0,1-.85.85h-27a0.85,0.85,0,0,1-.85-0.85h0V256.54a0.85,0.85,0,0,1,.85-0.85h27a0.85,0.85,0,0,1,.85.85h0v44.78Z"
          transform="translate(-69 -254)" fill="url(#a)" />
        <path d="M114.64,258.22h-22a0.85,0.85,0,0,0-.85.85h0v5.07a0.85,0.85,0,0,0,.85.85h22a0.85,0.85,0,0,0,.85-0.85h0v-5.07a0.85,0.85,0,0,0-.85-0.85h0Zm-0.86,5.07H93.5v-3.37h20.28v3.37Z"
          transform="translate(-69 -254)" fill="url(#b)" />
        <path d="M97.74,267.53H92.67a0.84,0.84,0,0,0-.85.83h0v5.07a0.85,0.85,0,0,0,.85.85h5.07a0.84,0.84,0,0,0,.84-0.84h0v-5.08A0.84,0.84,0,0,0,97.74,267.53Zm-0.85,5.07H93.5v-3.39h3.39v3.39Z"
          transform="translate(-69 -254)" fill="url(#c)" />
        <path d="M106.18,267.53h-5.07a0.84,0.84,0,0,0-.84.84h0v5.07a0.84,0.84,0,0,0,.83.85h5.08a0.85,0.85,0,0,0,.85-0.85h0v-5.07a0.84,0.84,0,0,0-.84-0.84h0Zm-0.83,5.07H102v-3.39h3.39v3.39Z"
          transform="translate(-69 -254)" fill="url(#d)" />
        <path d="M114.64,267.53h-5.07a0.84,0.84,0,0,0-.85.83h0v5.07a0.85,0.85,0,0,0,.85.85h5.07a0.85,0.85,0,0,0,.85-0.85h0v-5.07A0.85,0.85,0,0,0,114.64,267.53Zm-0.86,5.07H110.4v-3.39h3.38v3.39Z"
          transform="translate(-69 -254)" fill="url(#e)" />
        <path d="M97.74,276H92.67a0.85,0.85,0,0,0-.85.85h0v5.07a0.85,0.85,0,0,0,.85.85h5.07a0.84,0.84,0,0,0,.84-0.84h0v-5.08A0.85,0.85,0,0,0,97.74,276ZM96.89,281H93.5v-3.38h3.39V281Z"
          transform="translate(-69 -254)" fill="url(#f)" />
        <path d="M106.18,276h-5.07a0.84,0.84,0,0,0-.84.84h0v5.07a0.84,0.84,0,0,0,.83.85h5.08a0.85,0.85,0,0,0,.85-0.85h0v-5.07a0.85,0.85,0,0,0-.85-0.85h0ZM105.35,281H102v-3.38h3.39V281Z"
          transform="translate(-69 -254)" fill="url(#g)" />
        <path d="M114.64,276h-5.07a0.85,0.85,0,0,0-.85.85h0v5.07a0.85,0.85,0,0,0,.85.85h5.07a0.85,0.85,0,0,0,.85-0.85h0v-5.07a0.85,0.85,0,0,0-.85-0.85h0ZM113.78,281H110.4v-3.38h3.38V281Z"
          transform="translate(-69 -254)" fill="url(#h)" />
        <path d="M97.74,284.42H92.67a0.85,0.85,0,0,0-.85.85h0v5.07a0.84,0.84,0,0,0,.84.84h5.08a0.84,0.84,0,0,0,.84-0.84h0v-5.07A0.85,0.85,0,0,0,97.74,284.42Zm-0.85,5.08H93.5v-3.39h3.39v3.39Z"
          transform="translate(-69 -254)" fill="url(#i)" />
        <path d="M106.18,284.42h-5.07a0.84,0.84,0,0,0-.84.84h0v5.08a0.84,0.84,0,0,0,.84.84h5.07a0.84,0.84,0,0,0,.85-0.83h0v-5.07a0.84,0.84,0,0,0-.83-0.85h0Zm-0.83,5.08H102v-3.39h3.39v3.39Z"
          transform="translate(-69 -254)" fill="url(#j)" />
        <path d="M97.74,292.88H92.67a0.84,0.84,0,0,0-.85.83h0v5.07a0.85,0.85,0,0,0,.85.85h5.07a0.84,0.84,0,0,0,.84-0.84h0v-5.08A0.85,0.85,0,0,0,97.74,292.88ZM96.89,298H93.5v-3.39h3.39V298Z"
          transform="translate(-69 -254)" fill="url(#k)" />
        <path d="M106.18,292.88h-5.07a0.84,0.84,0,0,0-.84.84h0v5.07a0.84,0.84,0,0,0,.83.85h5.08a0.85,0.85,0,0,0,.85-0.85h0v-5.07a0.84,0.84,0,0,0-.84-0.84h0ZM105.35,298H102v-3.39h3.39V298Z"
          transform="translate(-69 -254)" fill="url(#l)" />
        <path d="M114.64,284.42h-5.07a0.85,0.85,0,0,0-.85.85h0v13.52a0.85,0.85,0,0,0,.85.85h5.07a0.85,0.85,0,0,0,.85-0.85h0V285.28A0.86,0.86,0,0,0,114.64,284.42ZM113.78,298H110.4V286.11h3.38V298Z"
          transform="translate(-69 -254)" fill="url(#m)" />
        <rect x="3.38" y="27.89" width="1.69" height="1.69" fill="url(#n)" />
        <path d="M85,281.89h0a0.84,0.84,0,0,1,.84.84h0a0.84,0.84,0,0,1-.84.84h0a0.84,0.84,0,0,1-.84-0.84h0A0.84,0.84,0,0,1,85,281.89Z"
          transform="translate(-69 -254)" fill="url(#o)" />
        <rect x="3.38" y="12.68" width="1.69" height="1.69" fill="url(#p)" />
      </svg>
    </span>
    <span class="title">
      {{"financeCalc" | translate}}
    </span>
  </ion-title>

  <form [formGroup]="calcForm" (ngSubmit)="submitForm()">
    <ion-input type="hidden" formControlName="calcMode"></ion-input>
    <ion-input type="hidden" formControlName="salary" value="{{salary}}"></ion-input>
    <ion-input type="hidden" formControlName="obligation" value="{{obligation}}"></ion-input>

    <ion-list class="input-list">
      <ion-item class="list-item">
        <ion-label floating>{{"salary" | translate}}*</ion-label>
        <ion-input type="tel" formControlName="salaryFormatted" (keyup)="currencyFormat($event, key='salaryFormatted')"
          value={{salaryFormatted}}></ion-input>
      </ion-item>
      <!-- Salary Validation -->
      <ion-item no-lines class="error" *ngIf="calcForm.controls.salaryFormatted.hasError('required') && calcForm.controls.salaryFormatted.touched ">
        <p>{{"fieldRequired" | translate}}</p>
      </ion-item>
      <ion-item no-lines class="error" *ngIf="calcForm.controls.salary.hasError('min') && calcForm.controls.salaryFormatted.touched && !calcForm.controls.salaryFormatted.hasError('required')">
        <p>{{"minSalaryValidationMessage" | translate}}</p>
      </ion-item>

      <ion-item class="list-item">
        <ion-label floating>{{"age" | translate}}*</ion-label>
        <ion-input type="number" pattern="[0-9]*" formControlName="age"></ion-input>
      </ion-item>
      <!-- Age Validation -->
      <ion-item no-lines class="error" *ngIf="calcForm.controls.age.hasError('required') && calcForm.controls.age.touched">
        <p>{{"fieldRequired" | translate}}</p>
      </ion-item>
      <ion-item no-lines class="error" *ngIf="(calcForm.controls.age.hasError('min') || calcForm.controls.age.hasError('max')) && calcForm.controls.age.touched">
        <p>{{"ageValidationMessage" | translate}}</p>
      </ion-item>

      <ion-item class="list-item">
        <ion-label floating>{{"firsttimehome" | translate}}*</ion-label>
        <ion-select interface="action-sheet" formControlName="firsthomebuyer">
          <ion-option value="yes">{{"yes" | translate}}</ion-option>
          <ion-option value="no">{{"no" | translate}}</ion-option>
        </ion-select>
      </ion-item>
      <!-- Firsthomebuyer Validation -->
      <ion-item no-lines class="error" *ngIf="calcForm.controls.firsthomebuyer.hasError('required') && calcForm.controls.firsthomebuyer.touched">
        <p>{{"fieldRequired" | translate}}</p>
      </ion-item>

      <ion-item class="list-item">
        <ion-label floating>{{"repaymentTerm" | translate}}*</ion-label>
        <ion-input type="number" pattern="[0-9]*" formControlName="repayment_terms"></ion-input>
      </ion-item>
      <!-- Repayment Term Validation -->
      <ion-item no-lines class="error" *ngIf="calcForm.controls.repayment_terms.hasError('required') && calcForm.controls.repayment_terms.touched">
        <p>{{"fieldRequired" | translate}}</p>
      </ion-item>
      <ion-item no-lines class="error" *ngIf="(calcForm.controls.repayment_terms.hasError('min') || calcForm.controls.repayment_terms.hasError('max')) && calcForm.controls.repayment_terms.touched">
        <p>{{"repaymentValidationMessage" | translate}}</p>
      </ion-item>

      <ion-item class="list-item">
        <ion-label floating>{{"interestType" | translate}}*</ion-label>
        <ion-select interface="action-sheet" formControlName="interesttype">
          <ion-option value="floating" selected>{{"floating" | translate}}</ion-option>
          <ion-option value="fixed">{{"fixed" | translate}}</ion-option>
        </ion-select>
      </ion-item>
      <!-- Interest Type Validation -->
      <ion-item no-lines class="error" *ngIf="calcForm.controls.interesttype.hasError('required') && calcForm.controls.interesttype.touched">
        <p>{{"fieldRequired" | translate}}</p>
      </ion-item>

      <ion-item class="list-item">
        <ion-label floating>{{"obligation" | translate}}*</ion-label>
        <ion-input type="tel" formControlName="obligationFormatted" (keyup)="currencyFormat($event, key='obligationFormatted')"
          value={{obligationFormatted}}></ion-input>
      </ion-item>
      <!-- Obligations Validation -->
      <ion-item no-lines class="error" *ngIf="calcForm.controls.obligationFormatted.hasError('required') && calcForm.controls.obligationFormatted.touched">
        <p>{{"fieldRequired" | translate}}</p>
      </ion-item>
      <ion-item no-lines class="error" *ngIf="(calcForm.controls.obligation.value != '') && (((calcForm.controls.obligation.value * 100) / calcForm.controls.salary.value) >= 60)">
        <p>{{"spendingValidationMessage" | translate}}</p>
      </ion-item>

      <ion-item class="list-item">
        <ion-label floating>{{"region" | translate}}*</ion-label>
        <ion-select interface="action-sheet" formControlName="location">
          <ion-option *ngFor="let r of regions" value="0.{{r.id}}">{{r.value}}</ion-option>
        </ion-select>
      </ion-item>
      <!-- Region Validation -->
      <ion-item no-lines class="error" *ngIf="calcForm.controls.location.hasError('required') && calcForm.controls.location.touched">
        <p>{{"fieldRequired" | translate}}</p>
      </ion-item>

      <ion-item class="list-item">
        <ion-label floating>{{"sector" | translate}}*</ion-label>
        <ion-select interface="action-sheet" formControlName="sector">
          <ion-option *ngFor="let s of sectors" value="{{s.id}}">{{s.value}}</ion-option>
        </ion-select>
      </ion-item>
      <!-- Sector Validation -->
      <ion-item no-lines class="error" *ngIf="calcForm.controls.sector.hasError('required') && calcForm.controls.sector.touched">
        <p>{{"fieldRequired" | translate}}</p>
      </ion-item>

      <ion-item class="list-item">
        <ion-label floating>{{"company" | translate}}</ion-label>
        <ion-input type="text" formControlName="company" (keyup)="autoCompleteCompany($event)" value={{company}}></ion-input>
      </ion-item>

      <ion-item class="list-item list-search" *ngIf="companies.length > 0">
        <div class="list">
          <li class="item" *ngFor="let companyName of companies" (click)="itemSelect(companyName)">{{companyName}}</li>
        </div>
      </ion-item>

    </ion-list>

    <button id="btnsubmit" ion-button type="submit" block  [disabled]="!calcForm.valid" class="btn-submit">{{"calculate" | translate}}</button>

  </form>


</ion-content>
