<!--
  Generated template for the ExpenseCalcResultPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header>
  
  <ion-toolbar>
    <ion-buttons start>
      <button ion-button navPop >
        <ion-icon ios="ios-arrow-back" md="ios-arrow-back-outline"></ion-icon>
        <span class="nav-icon-text"> {{"back" | translate}}</span>
      </button>
    </ion-buttons>
    
    <ion-buttons end>
      <button ion-button icon-only menuToggle >
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
      
  </ion-toolbar>
  
</ion-header>


<ion-content padding class="result-content">

<div class="result result-v1">
  <h2 class="sub-title">{{"remainingAmount" | translate}}</h2>
  <h1 class="title">
    <span class="cur">{{"sar" | translate}}</span> 
    <span class="value">{{result['emi']}}</span>
  </h1>
  <h2 class="sub-title error" *ngIf="this.result['has_error']">{{"attentionResult" | translate}}</h2>
</div>

<div class="result-action-wr">

  <button ion-button full color="secondary" (click)="openBrowser('request/info/property')">
    <span class="icon-wr">
        <img src="./assets/imgs/result/apply.svg" />
    </span>
    {{"applyNow" | translate}}
  </button>
</div>
</ion-content>

